
@{
    ViewBag.Title = "ChiTietTin";
    Layout = "~/Views/Shared/_LayoutMes.cshtml";
}

@section Css{
    <style>
        .label {
            margin-bottom: 8px
        }
    </style>
}

@section Scripts{
    <script src="~/MyScript/bangtin/TrangChu01Ctrl.js"></script>
}

<div ng-controller="TC01Ctrl" ng-init="InitChiTiet(@ViewBag.MaTinTuc)">
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/Home">FSM</a>
            </li>
            <li class="active">Bảng Tin > Chi Tiết Bài Viết</li>
        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div><!-- /.nav-search -->
    </div>

    <div id="mescontent" class="page-content">
        <div class="row" style="overflow-y: auto;height: calc(100% - 25px);">
            <div class="page-header">
                <h1>
                    <a href="@Url.Action("TestTinTuc","BangTin")">Bảng Tin</a>
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Tiêu Đề Của Bài Viết
                    </small>
                </h1>
            </div>

            <div class="container">
                <div class="col-lg-9">
                    <h1>{{ThongTinBV.TieuDe}}</h1>
                    <p><b><i><i class="ace-icon fa fa-user"></i> {{ThongTinBV.TenNguoiDung}}</i></b> - {{ReturnFullDateTime(ThongTinBV.TenNguoiDung)}}</p>
                    <p>
                        <b>
                            {{ThongTinBV.MoTa}}
                        </b>
                    </p>

                    <p>
                        {{ThongTinBV.NoiDung}}
                    </p>

                    @*Tập tin đính kèm*@
                    <div ng-show="ThongTinBV.TapTinDinhKem.length > 0">
                        <h3 class="header smaller lighter green">
                            <i class="ace-icon fa fa-book"></i>
                            Tập Tin Đính Kèm
                        </h3>

                        <ul class="list-unstyled spaced2">
                            <li>
                                <i class="ace-icon fa fa-circle green"></i>
                                <a href="#">File Đính Kèm (123 KB)</a>
                            </li>
                        </ul>
                    </div>
                    @*/Tập tin đính kèm*@

                    @*Bình Luận*@
                    <div class="widget-box transparent" id="recent-box" ng-show="ThongTinBV.BinhLuan.length > 0">
                        <div class="widget-header">
                            <h4 class="widget-title lighter smaller">
                                <i class="ace-icon fa fa-comments-o orange"></i>Bình Luận
                            </h4>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main padding-4">
                                <div class="tab-content padding-8">
                                    <div id="comment-tab" class="tab-pane active">
                                        <div class="comments">
                                            <div class="itemdiv commentdiv" ng-repeat="item in ThongTinBV.BinhLuan">
                                                <div class="user">
                                                    <img alt="Jennifer's Avatar" src="{{item.HinhAnh}}" />
                                                </div>

                                                <div class="body">
                                                    <div class="name">
                                                        <a href="#">{{item.Ten}}</a>
                                                    </div>

                                                    <div class="time">
                                                        <i class="ace-icon fa fa-clock-o"></i>
                                                        <span class="blue">15 min</span>
                                                    </div>

                                                    <div class="text">
                                                        <i class="ace-icon fa fa-quote-left"></i>
                                                        {{item.NoiDung}}
                                                    </div>
                                                </div>

                                                <div class="tools">
                                                    <div class="action-buttons bigger-125">
                                                        <a href="#">
                                                            <i class="ace-icon fa fa-pencil blue"></i>
                                                        </a>

                                                        <a href="#">
                                                            <i class="ace-icon fa fa-trash-o red"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="center">
                                            <i class="ace-icon fa fa-comments-o fa-2x green middle"></i>

                                            &nbsp;
                                            <a href="#" class="btn btn-sm btn-white btn-info">
                                                See all comments &nbsp;
                                                <i class="ace-icon fa fa-arrow-right"></i>
                                            </a>
                                        </div>

                                        <form>
                                            <div class="form-actions">
                                                <div class="input-group">
                                                    <input placeholder="Bạn nghĩ sao về bài viết này ?" type="text" class="form-control" name="message" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-sm btn-info no-radius" type="button">
                                                            <i class="ace-icon fa fa-share"></i>
                                                            Send
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="hr hr-double hr8"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*/ Bình Luận*@

                    <h3 class="header smaller lighter green">
                        <i class="ace-icon fa fa-star"></i>
                        Có Thể Bạn Quan Tâm
                    </h3>

                    <div class="row">
                        <div class="col-lg-4" ng-repeat="item in ThongTinBV.TinLienQuan">
                            <div class="thumbnail search-thumbnail">
                                <img class="media-object" src="{{item.HinhAnh}}" style="height:200px" />
                                <div class="caption">
                                    <div class="clearfix">
                                        <span class="pull-right label label-grey info-label">{{item.TenNguoiDung}}</span>
                                        <div class="pull-left bigger-110">
                                            <i class="ace-icon fa fa-eye orange2"></i> {{item.LuotXem}}
                                        </div>
                                    </div>

                                    <h3 class="search-title">
                                        <a href="#" class="blue">{{item.TieuDe | limitTo: 20 }}{{item.TieuDe.length > 20 ? '...' : ''}}</a>
                                    </h3>
                                    <p>{{item.MoTa | limitTo: 27 }}{{item.MoTa.length > 27 ? '...' : ''}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <span class="label label-danger label-lg arrowed-in">Cùng Chủ Đề</span>
                    <div class="thumbnail search-thumbnail">
                        <img class="media-object" data-src="holder.js/100px200?theme=social" />
                        <div class="caption">
                            <div class="clearfix">
                                <span class="pull-right label label-grey info-label">Chicago</span>
                                <div class="pull-left bigger-110">
                                    <i class="ace-icon fa fa-star orange2"></i>

                                    <i class="ace-icon fa fa-star orange2"></i>

                                    <i class="ace-icon fa fa-star orange2"></i>

                                    <i class="ace-icon fa fa-star-half-o orange2"></i>

                                    <i class="ace-icon fa fa-star light-grey"></i>
                                </div>
                            </div>

                            <h3 class="search-title">
                                <a href="#" class="blue">Thumbnail label</a>
                            </h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam ...</p>
                        </div>
                    </div>

                    <div class="thumbnail search-thumbnail">
                        <img class="media-object" data-src="holder.js/100px200?theme=social" />
                        <div class="caption">
                            <div class="clearfix">
                                <span class="pull-right label label-grey info-label">Chicago</span>
                                <div class="pull-left bigger-110">
                                    <i class="ace-icon fa fa-star orange2"></i>

                                    <i class="ace-icon fa fa-star orange2"></i>

                                    <i class="ace-icon fa fa-star orange2"></i>

                                    <i class="ace-icon fa fa-star-half-o orange2"></i>

                                    <i class="ace-icon fa fa-star light-grey"></i>
                                </div>
                            </div>

                            <h3 class="search-title">
                                <a href="#" class="blue">Thumbnail label</a>
                            </h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam ...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
