
@{
    ViewBag.Title = "DanhMucTin";
    Layout = "~/Views/Shared/_LayoutMes.cshtml";
}

@section Css{
    <style>
        .label {
            margin-bottom: 8px
        }
    </style>
}

<div ng-controller="QlbtCrl">
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/Home">FSM</a>
            </li>
            <li class="active">Bảng Tin > Tin Theo Danh Mục</li>
        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div><!-- /.nav-search -->
    </div>

    <div id="mescontent" class="page-content">
        <div class="row" style="overflow-y: auto;height: calc(100% - 25px);">
            <div class="page-header">
                <h1>
                    <a href="@Url.Action("TestTinTuc","BangTin")">Bảng Tin</a>
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Nơi Chứa Những Thông Báo Mới Nhất Của Công Ty
                    </small>
                </h1>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="thumbnail search-thumbnail">
                            <img class="media-object" data-src="holder.js/100px200?theme=social" />
                            <div class="caption">
                                <div class="clearfix">
                                    <span class="pull-right label label-grey info-label">Chicago</span>
                                    <div class="pull-left bigger-110">
                                        <i class="ace-icon fa fa-star orange2"></i>

                                        <i class="ace-icon fa fa-star orange2"></i>

                                        <i class="ace-icon fa fa-star orange2"></i>

                                        <i class="ace-icon fa fa-star-half-o orange2"></i>

                                        <i class="ace-icon fa fa-star light-grey"></i>
                                    </div>
                                </div>

                                <h3 class="search-title">
                                    <a href="#" class="blue">Thumbnail label</a>
                                </h3>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam ...</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="thumbnail search-thumbnail">
                            <img class="media-object" data-src="holder.js/100px200?theme=social" />
                            <div class="caption">
                                <div class="clearfix">
                                    <span class="pull-right label label-grey info-label">Chicago</span>
                                    <div class="pull-left bigger-110">
                                        <i class="ace-icon fa fa-star orange2"></i>

                                        <i class="ace-icon fa fa-star orange2"></i>

                                        <i class="ace-icon fa fa-star orange2"></i>

                                        <i class="ace-icon fa fa-star-half-o orange2"></i>

                                        <i class="ace-icon fa fa-star light-grey"></i>
                                    </div>
                                </div>

                                <h3 class="search-title">
                                    <a href="#" class="blue">Thumbnail label</a>
                                </h3>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam ...</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="thumbnail search-thumbnail">
                            <img class="media-object" data-src="holder.js/100px200?theme=social" />
                            <div class="caption">
                                <div class="clearfix">
                                    <span class="pull-right label label-grey info-label">Chicago</span>
                                    <div class="pull-left bigger-110">
                                        <i class="ace-icon fa fa-star orange2"></i>

                                        <i class="ace-icon fa fa-star orange2"></i>

                                        <i class="ace-icon fa fa-star orange2"></i>

                                        <i class="ace-icon fa fa-star-half-o orange2"></i>

                                        <i class="ace-icon fa fa-star light-grey"></i>
                                    </div>
                                </div>

                                <h3 class="search-title">
                                    <a href="#" class="blue">Thumbnail label</a>
                                </h3>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam ...</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="thumbnail search-thumbnail">
                            <img class="media-object" data-src="holder.js/100px200?theme=social" />
                            <div class="caption">
                                <div class="clearfix">
                                    <span class="pull-right label label-grey info-label">Chicago</span>
                                    <div class="pull-left bigger-110">
                                        <i class="ace-icon fa fa-star orange2"></i>

                                        <i class="ace-icon fa fa-star orange2"></i>

                                        <i class="ace-icon fa fa-star orange2"></i>

                                        <i class="ace-icon fa fa-star-half-o orange2"></i>

                                        <i class="ace-icon fa fa-star light-grey"></i>
                                    </div>
                                </div>

                                <h3 class="search-title">
                                    <a href="#" class="blue">Thumbnail label</a>
                                </h3>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam ...</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <span class="label label-danger label-lg arrowed-in">Mới Nhất</span>
                        <div class="media search-media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" data-src="holder.js/72x72" />
                                </a>
                            </div>

                            <div class="media-body">
                                <div>
                                    <h4 class="media-heading">
                                        <a href="#" class="blue">Media heading</a>
                                    </h4>
                                </div>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis ...</p>

                                <div class="search-actions text-center">
                                    <span class="text-info">$</span>

                                    <span class="blue bolder bigger-150">300</span>

                                    monthly
                                    <div class="action-buttons bigger-125">
                                        <a href="#">
                                            <i class="ace-icon fa fa-phone green"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-heart red"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-star orange2"></i>
                                        </a>
                                    </div>
                                    <a class="search-btn-action btn btn-sm btn-block btn-info">Book it!</a>
                                </div>
                            </div>
                        </div>

                        <div class="media search-media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" data-src="holder.js/72x72" />
                                </a>
                            </div>

                            <div class="media-body">
                                <div>
                                    <h4 class="media-heading">
                                        <a href="#" class="blue">Media heading</a>
                                    </h4>
                                </div>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis ...</p>

                                <div class="search-actions text-center">
                                    <span class="text-info">$</span>

                                    <span class="blue bolder bigger-150">300</span>

                                    monthly
                                    <div class="action-buttons bigger-125">
                                        <a href="#">
                                            <i class="ace-icon fa fa-phone green"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-heart red"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-star orange2"></i>
                                        </a>
                                    </div>
                                    <a class="search-btn-action btn btn-sm btn-block btn-info">Book it!</a>
                                </div>
                            </div>
                        </div>

                        <div class="media search-media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" data-src="holder.js/72x72" />
                                </a>
                            </div>

                            <div class="media-body">
                                <div>
                                    <h4 class="media-heading">
                                        <a href="#" class="blue">Media heading</a>
                                    </h4>
                                </div>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis ...</p>

                                <div class="search-actions text-center">
                                    <span class="text-info">$</span>

                                    <span class="blue bolder bigger-150">300</span>

                                    monthly
                                    <div class="action-buttons bigger-125">
                                        <a href="#">
                                            <i class="ace-icon fa fa-phone green"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-heart red"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-star orange2"></i>
                                        </a>
                                    </div>
                                    <a class="search-btn-action btn btn-sm btn-block btn-info">Book it!</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <span class="label label-danger label-lg arrowed-in">Xem Nhiều</span>
                        <div class="media search-media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" data-src="holder.js/72x72" />
                                </a>
                            </div>

                            <div class="media-body">
                                <div>
                                    <h4 class="media-heading">
                                        <a href="#" class="blue">Media heading</a>
                                    </h4>
                                </div>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis ...</p>

                                <div class="search-actions text-center">
                                    <span class="text-info">$</span>

                                    <span class="blue bolder bigger-150">300</span>

                                    monthly
                                    <div class="action-buttons bigger-125">
                                        <a href="#">
                                            <i class="ace-icon fa fa-phone green"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-heart red"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-star orange2"></i>
                                        </a>
                                    </div>
                                    <a class="search-btn-action btn btn-sm btn-block btn-info">Book it!</a>
                                </div>
                            </div>
                        </div>

                        <div class="media search-media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" data-src="holder.js/72x72" />
                                </a>
                            </div>

                            <div class="media-body">
                                <div>
                                    <h4 class="media-heading">
                                        <a href="#" class="blue">Media heading</a>
                                    </h4>
                                </div>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis ...</p>

                                <div class="search-actions text-center">
                                    <span class="text-info">$</span>

                                    <span class="blue bolder bigger-150">300</span>

                                    monthly
                                    <div class="action-buttons bigger-125">
                                        <a href="#">
                                            <i class="ace-icon fa fa-phone green"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-heart red"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-star orange2"></i>
                                        </a>
                                    </div>
                                    <a class="search-btn-action btn btn-sm btn-block btn-info">Book it!</a>
                                </div>
                            </div>
                        </div>

                        <div class="media search-media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" data-src="holder.js/72x72" />
                                </a>
                            </div>

                            <div class="media-body">
                                <div>
                                    <h4 class="media-heading">
                                        <a href="#" class="blue">Media heading</a>
                                    </h4>
                                </div>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis ...</p>

                                <div class="search-actions text-center">
                                    <span class="text-info">$</span>

                                    <span class="blue bolder bigger-150">300</span>

                                    monthly
                                    <div class="action-buttons bigger-125">
                                        <a href="#">
                                            <i class="ace-icon fa fa-phone green"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-heart red"></i>
                                        </a>

                                        <a href="#">
                                            <i class="ace-icon fa fa-star orange2"></i>
                                        </a>
                                    </div>
                                    <a class="search-btn-action btn btn-sm btn-block btn-info">Book it!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
