@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMes.cshtml";
}

<div>
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/Home">FSM</a>
            </li>
            <li class="active">Bảng Tin</li>
        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div><!-- /.nav-search -->
    </div>
    <div id="mescontent" class="page-content">
        <div class="row" style="overflow-y: auto; height: calc(100% - 25px);">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="tabbable">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active">
                                    <a data-toggle="tab" href="#tintuc">
                                        <i class="green ace-icon fa fa-list bigger-120"></i>
                                        Tin Tức
                                        <span class="badge badge-danger">4</span>
                                    </a>
                                </li>

                                <li>
                                    <a data-toggle="tab" href="#thongbao">
                                        <i class="green ace-icon fa fa-bell bigger-120"></i>
                                        Thông Báo
                                        <span class="badge badge-danger">4</span>
                                    </a>
                                </li>

                                <li>
                                    <a data-toggle="tab" href="#sawaco">
                                        <i class="green ace-icon fa fa-home bigger-120"></i>
                                        Tin SAWACO
                                        <span class="badge badge-danger">10</span>
                                    </a>
                                </li>

                                <li>
                                    <a data-toggle="tab" href="#sinhnhat">
                                        <i class="green ace-icon fa fa-calendar bigger-120"></i>
                                        Sinh Nhật
                                        <span class="badge badge-danger">4</span>
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="tintuc" class="tab-pane fade in active">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ul class="list-unstyled spaced2">
                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    THÔNG BÁO VỀ VIỆC PHUN THUỐC KHỬ KHUẨN TĂNG CƯỜNG PHÒNG, CHỐNG DỊCH BỆNH COVID-19 (LẦN 4). (7h)
                                                </li>

                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    THÔNG BÁO VỀ VIỆC PHUN THUỐC KHỬ KHUẨN TĂNG CƯỜNG PHÒNG, CHỐNG DỊCH BỆNH COVID-19 (LẦN 4). (7h)
                                                </li>

                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    THÔNG BÁO VỀ VIỆC PHUN THUỐC KHỬ KHUẨN TĂNG CƯỜNG PHÒNG, CHỐNG DỊCH BỆNH COVID-19 (LẦN 4). (7h)
                                                </li>

                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    THÔNG BÁO VỀ VIỆC PHUN THUỐC KHỬ KHUẨN TĂNG CƯỜNG PHÒNG, CHỐNG DỊCH BỆNH COVID-19 (LẦN 4). (7h)
                                                </li>

                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    THÔNG BÁO VỀ VIỆC PHUN THUỐC KHỬ KHUẨN TĂNG CƯỜNG PHÒNG, CHỐNG DỊCH BỆNH COVID-19 (LẦN 4). (7h)
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <ul class="pagination">
                                                <li class="disabled">
                                                    <a href="#">
                                                        <i class="ace-icon fa fa-angle-double-left"></i>
                                                    </a>
                                                </li>

                                                <li class="active">
                                                    <a href="#">1</a>
                                                </li>

                                                <li>
                                                    <a href="#">2</a>
                                                </li>

                                                <li>
                                                    <a href="#">3</a>
                                                </li>

                                                <li>
                                                    <a href="#">4</a>
                                                </li>

                                                <li>
                                                    <a href="#">5</a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <i class="ace-icon fa fa-angle-double-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!-- /.span -->
                                </div>

                                <div id="thongbao" class="tab-pane fade">
                                    <ul class="list-unstyled spaced2">
                                        <li>
                                            <i class="ace-icon fa fa-circle green"></i>
                                            Thông báo chỉ đạo của Phó Giám đốc Quản trị Tài chính về việc Giải quyết các trở ngại trong khối Kinh Doanh (12/3)
                                        </li>

                                        <li>
                                            <i class="ace-icon fa fa-circle green"></i>
                                            Thông báo chỉ đạo của Phó Giám đốc Quản trị Tài chính về việc Giải quyết các trở ngại trong khối Kinh Doanh (12/3)
                                        </li>

                                        <li>
                                            <i class="ace-icon fa fa-circle green"></i>
                                            Thông báo chỉ đạo của Phó Giám đốc Quản trị Tài chính về việc Giải quyết các trở ngại trong khối Kinh Doanh (12/3)
                                        </li>

                                        <li>
                                            <i class="ace-icon fa fa-circle green"></i>
                                            Thông báo chỉ đạo của Phó Giám đốc Quản trị Tài chính về việc Giải quyết các trở ngại trong khối Kinh Doanh (12/3)
                                        </li>

                                        <li>
                                            <i class="ace-icon fa fa-circle green"></i>
                                            Thông báo chỉ đạo của Phó Giám đốc Quản trị Tài chính về việc Giải quyết các trở ngại trong khối Kinh Doanh (12/3)
                                        </li>
                                    </ul>
                                    <div>
                                        <div>
                                            <ul class="pagination">
                                                <li class="disabled">
                                                    <a href="#">
                                                        <i class="ace-icon fa fa-angle-double-left"></i>
                                                    </a>
                                                </li>

                                                <li class="active">
                                                    <a href="#">1</a>
                                                </li>

                                                <li>
                                                    <a href="#">2</a>
                                                </li>

                                                <li>
                                                    <a href="#">3</a>
                                                </li>

                                                <li>
                                                    <a href="#">4</a>
                                                </li>

                                                <li>
                                                    <a href="#">5</a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <i class="ace-icon fa fa-angle-double-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!-- /.span -->
                                </div>

                                <div id="sawaco" class="tab-pane fade">
                                    <ul class="list-unstyled spaced2">
                                        <li>
                                            <i class="ace-icon fa fa-circle green"></i>
                                            Thông báo về việc nâng bậc lương CB.CNV quý 02 năm 2020. (4/3)
                                        </li>

                                        <li>
                                            <i class="ace-icon fa fa-circle green"></i>
                                            Thông báo về việc nâng bậc lương CB.CNV quý 02 năm 2020. (4/3)
                                        </li>

                                        <li>
                                            <i class="ace-icon fa fa-circle green"></i>
                                            Thông báo về việc nâng bậc lương CB.CNV quý 02 năm 2020. (4/3)
                                        </li>

                                        <li>
                                            <i class="ace-icon fa fa-circle green"></i>
                                            Thông báo về việc nâng bậc lương CB.CNV quý 02 năm 2020. (4/3)
                                        </li>

                                        <li>
                                            <i class="ace-icon fa fa-circle green"></i>
                                            Thông báo về việc nâng bậc lương CB.CNV quý 02 năm 2020. (4/3)
                                        </li>
                                    </ul>
                                    <div>
                                        <div>
                                            <ul class="pagination">
                                                <li class="disabled">
                                                    <a href="#">
                                                        <i class="ace-icon fa fa-angle-double-left"></i>
                                                    </a>
                                                </li>

                                                <li class="active">
                                                    <a href="#">1</a>
                                                </li>

                                                <li>
                                                    <a href="#">2</a>
                                                </li>

                                                <li>
                                                    <a href="#">3</a>
                                                </li>

                                                <li>
                                                    <a href="#">4</a>
                                                </li>

                                                <li>
                                                    <a href="#">5</a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <i class="ace-icon fa fa-angle-double-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!-- /.span -->
                                </div>

                                <div id="sinhnhat" class="tab-pane fade">
                                    <ul class="list-unstyled spaced2">
                                        <li>
                                            <i class="ace-icon fa fa-circle green"></i>
                                            Lê Hoàng Thiên Vũ - Phòng Công Nghệ Thông Tin ( 03/03/1995 )
                                        </li>

                                        <li>
                                            <i class="ace-icon fa fa-circle green"></i>
                                            Nguyễn Đình Nghĩa - Phòng Công Nghệ Thông Tin ( 20/03/1995 )
                                        </li>

                                        <li>
                                            <i class="ace-icon fa fa-circle green"></i>
                                            Nguyễn Phi Hoàng Nam - Phòng Công Nghệ Thông Tin ( 15/03/1995 )
                                        </li>
                                    </ul>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h3 class="header smaller lighter green">Sinh Nhật Trong Năm</h3>

                                            <p></p>

                                            <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                Tháng 1
                                            </a>

                                            <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                Tháng 2
                                            </a>

                                            <a href="#" class="btn btn-app btn-danger btn-xs">
                                                <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                Tháng 3
                                            </a>

                                            <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                Tháng 4
                                            </a>

                                            <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                Tháng 5
                                            </a>

                                            <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                Tháng 6
                                            </a>

                                            <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                Tháng 7
                                            </a>

                                            <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                Tháng 8
                                            </a>

                                            <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                Tháng 9
                                            </a>

                                            <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                Tháng 10
                                            </a>

                                            <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                Tháng 11
                                            </a>

                                            <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                Tháng 12
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <h3 class="row header smaller lighter blue">
                                <span class="col-xs-6"> Bảng Tin </span>
                            </h3>

                            <div id="accordion" class="accordion-style1 panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                &nbsp;Tường Công Ty
                                                <span class="badge badge-danger">10</span>
                                            </a>
                                        </h4>
                                    </div>

                                    <div class="panel-collapse collapse in" id="collapseOne">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <ul class="list-unstyled spaced2">
                                                        <li>
                                                            <i class="ace-icon fa fa-circle green"></i>
                                                            THÔNG BÁO VỀ VIỆC PHUN THUỐC KHỬ KHUẨN TĂNG CƯỜNG PHÒNG, CHỐNG DỊCH BỆNH COVID-19 (LẦN 4). (7h)
                                                        </li>

                                                        <li>
                                                            <i class="ace-icon fa fa-circle green"></i>
                                                            THÔNG BÁO VỀ VIỆC PHUN THUỐC KHỬ KHUẨN TĂNG CƯỜNG PHÒNG, CHỐNG DỊCH BỆNH COVID-19 (LẦN 4). (7h)
                                                        </li>

                                                        <li>
                                                            <i class="ace-icon fa fa-circle green"></i>
                                                            THÔNG BÁO VỀ VIỆC PHUN THUỐC KHỬ KHUẨN TĂNG CƯỜNG PHÒNG, CHỐNG DỊCH BỆNH COVID-19 (LẦN 4). (7h)
                                                        </li>

                                                        <li>
                                                            <i class="ace-icon fa fa-circle green"></i>
                                                            THÔNG BÁO VỀ VIỆC PHUN THUỐC KHỬ KHUẨN TĂNG CƯỜNG PHÒNG, CHỐNG DỊCH BỆNH COVID-19 (LẦN 4). (7h)
                                                        </li>

                                                        <li>
                                                            <i class="ace-icon fa fa-circle green"></i>
                                                            THÔNG BÁO VỀ VIỆC PHUN THUỐC KHỬ KHUẨN TĂNG CƯỜNG PHÒNG, CHỐNG DỊCH BỆNH COVID-19 (LẦN 4). (7h)
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                &nbsp;Tin Tức
                                                <span class="badge badge-danger">10</span>
                                            </a>
                                        </h4>
                                    </div>

                                    <div class="panel-collapse collapse" id="collapseTwo">
                                        <div class="panel-body">
                                            <ul class="list-unstyled spaced2">
                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    Thông báo chỉ đạo của Phó Giám đốc Quản trị Tài chính về việc Giải quyết các trở ngại trong khối Kinh Doanh (12/3)
                                                </li>

                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    Thông báo chỉ đạo của Phó Giám đốc Quản trị Tài chính về việc Giải quyết các trở ngại trong khối Kinh Doanh (12/3)
                                                </li>

                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    Thông báo chỉ đạo của Phó Giám đốc Quản trị Tài chính về việc Giải quyết các trở ngại trong khối Kinh Doanh (12/3)
                                                </li>

                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    Thông báo chỉ đạo của Phó Giám đốc Quản trị Tài chính về việc Giải quyết các trở ngại trong khối Kinh Doanh (12/3)
                                                </li>

                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    Thông báo chỉ đạo của Phó Giám đốc Quản trị Tài chính về việc Giải quyết các trở ngại trong khối Kinh Doanh (12/3)
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                &nbsp;Thông Báo
                                                <span class="badge badge-danger">10</span>
                                            </a>
                                        </h4>
                                    </div>

                                    <div class="panel-collapse collapse" id="collapseThree">
                                        <div class="panel-body">
                                            <ul class="list-unstyled spaced2">
                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    Thông báo về việc nâng bậc lương CB.CNV quý 02 năm 2020. (4/3)
                                                </li>

                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    Thông báo về việc nâng bậc lương CB.CNV quý 02 năm 2020. (4/3)
                                                </li>

                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    Thông báo về việc nâng bậc lương CB.CNV quý 02 năm 2020. (4/3)
                                                </li>

                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    Thông báo về việc nâng bậc lương CB.CNV quý 02 năm 2020. (4/3)
                                                </li>

                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    Thông báo về việc nâng bậc lương CB.CNV quý 02 năm 2020. (4/3)
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                                <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                &nbsp;Sinh Nhật Trong Tháng
                                                <span class="badge badge-danger">10</span>
                                            </a>
                                        </h4>
                                    </div>

                                    <div class="panel-collapse collapse" id="collapseFour">
                                        <div class="panel-body">
                                            <ul class="list-unstyled spaced2">
                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    Lê Hoàng Thiên Vũ - Phòng Công Nghệ Thông Tin ( 03/03/1995 )
                                                </li>

                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    Nguyễn Đình Nghĩa - Phòng Công Nghệ Thông Tin ( 20/03/1995 )
                                                </li>

                                                <li>
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    Nguyễn Phi Hoàng Nam - Phòng Công Nghệ Thông Tin ( 15/03/1995 )
                                                </li>
                                            </ul>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h3 class="header smaller lighter green">Sinh Nhật Trong Năm</h3>

                                                    <p></p>

                                                    <a href="#" class="btn btn-app btn-danger btn-xs">
                                                        <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                        Tháng 1
                                                    </a>

                                                    <a href="#" class="btn btn-app btn-primary btn-xs">
                                                        <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                        Tháng 2
                                                    </a>

                                                    <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                        <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                        Tháng 3
                                                    </a>

                                                    <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                        <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                        Tháng 4
                                                    </a>

                                                    <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                        <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                        Tháng 5
                                                    </a>

                                                    <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                        <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                        Tháng 6
                                                    </a>

                                                    <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                        <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                        Tháng 7
                                                    </a>

                                                    <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                        <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                        Tháng 8
                                                    </a>

                                                    <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                        <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                        Tháng 9
                                                    </a>

                                                    <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                        <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                        Tháng 10
                                                    </a>

                                                    <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                        <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                        Tháng 11
                                                    </a>

                                                    <a href="#" class="btn btn-app btn-yellow btn-xs">
                                                        <i class="ace-icon fa fa-calendar bigger-160"></i>
                                                        Tháng 12
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.col -->

                    <div class="col-sm-5 widget-container-col" id="widget-container-col-11">
                        <div class="widget-box widget-color-dark" id="widget-box-11">
                            <div class="widget-header">
                                <h6 class="widget-title">Tường Công Ty</h6>

                                <div class="widget-toolbar">
                                    <a href="#" data-action="reload">
                                        <i class="ace-icon fa fa-refresh"></i>
                                    </a>

                                    <a href="#" data-action="collapse">
                                        <i class="ace-icon fa fa-chevron-up"></i>
                                    </a>

                                    <a href="#" data-action="fullscreen" class="orange2">
                                        <i class="ace-icon fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main padding-4 scrollable" data-size="800">
                                    <div class="content">
                                        <div class="search-area well col-xs-12">
                                            <div class="pull-left">
                                                <b class="text-primary">Display</b>

                                                &nbsp;
                                                <div id="toggle-result-format" class="btn-group btn-overlap" data-toggle="buttons">
                                                    <label title="Thumbnail view" class="btn btn-lg btn-white btn-success active" data-class="btn-success" aria-pressed="true">
                                                        <input type="radio" value="2" autocomplete="off" />
                                                        <i class="icon-only ace-icon fa fa-th"></i>
                                                    </label>

                                                    <label title="List view" class="btn btn-lg btn-white btn-grey" data-class="btn-primary">
                                                        <input type="radio" value="1" checked="" autocomplete="off" />
                                                        <i class="icon-only ace-icon fa fa-list"></i>
                                                    </label>

                                                    <label title="Map view" class="btn btn-lg btn-white btn-grey" data-class="btn-warning">
                                                        <input type="radio" value="3" autocomplete="off" />
                                                        <i class="icon-only ace-icon fa fa-crosshairs"></i>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="pull-right">
                                                <b class="text-primary">Order</b>

                                                &nbsp;
                                                <select>
                                                    <option>Relevance</option>
                                                    <option>Newest First</option>
                                                    <option>Rating</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-6 col-sm-4 col-md-4">
                                                <div class="thumbnail search-thumbnail">
                                                    <span class="search-promotion label label-success arrowed-in arrowed-in-right">20/03/2020</span>

                                                    <img class="media-object" data-src="holder.js/100px200?theme=social" />
                                                    <div class="caption">
                                                        <div class="clearfix">
                                                            <span class="pull-right label label-grey info-label">By : Thiên Vũ</span>
                                                        </div>

                                                        <h3 class="search-title">
                                                            <a href="#" class="blue"> Giáo sư Hoàng Chí Bảo</a>
                                                        </h3>
                                                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam ...</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-6 col-sm-4 col-md-4">
                                                <div class="thumbnail search-thumbnail">
                                                    <span class="search-promotion label label-success arrowed-in arrowed-in-right">21/03/2020</span>

                                                    <img class="media-object" data-src="holder.js/100px200?theme=social" />
                                                    <div class="caption">
                                                        <div class="clearfix">
                                                            <span class="pull-right label label-grey info-label">By : Thiên Vũ</span>
                                                        </div>

                                                        <h3 class="search-title">
                                                            <a href="#" class="blue"> Giáo sư Hoàng Chí Bảo</a>
                                                        </h3>
                                                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam ...</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-6 col-sm-4 col-md-4">
                                                <div class="thumbnail search-thumbnail">
                                                    <span class="search-promotion label label-success arrowed-in arrowed-in-right">22/03/2020</span>

                                                    <img class="media-object" data-src="holder.js/100px200?theme=social" />
                                                    <div class="caption">
                                                        <div class="clearfix">
                                                            <span class="pull-right label label-grey info-label">By : Thiên Vũ</span>
                                                        </div>

                                                        <h3 class="search-title">
                                                            <a href="#" class="blue"> Giáo sư Hoàng Chí Bảo</a>
                                                        </h3>
                                                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam ...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="space-12"></div>

                                        <div class="tabbable">
                                            <ul class="nav nav-tabs" id="myTab">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#content">
                                                        <i class="green ace-icon fa fa-info bigger-120"></i>
                                                        Nội Dung
                                                    </a>
                                                </li>

                                                <li>
                                                    <a data-toggle="tab" href="#comment">
                                                        <i class="green ace-icon fa fa-comment bigger-120"></i>
                                                        Bình Luận
                                                        <span class="badge badge-danger">4</span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a data-toggle="tab" href="#attachment">
                                                        <i class="green ace-icon fa fa-folder bigger-120"></i>
                                                        Tập Tin Đính Kèm
                                                        <span class="badge badge-danger">4</span>
                                                    </a>
                                                </li>
                                            </ul>

                                            <div class="tab-content">
                                                <div id="content" class="tab-pane fade in active">
                                                    <p>{{item.NoiDung}}</p>
                                                    <p>Sáng 17/3, PGS.TS Nguyễn Trường Sơn, Thứ trưởng Bộ Y tế, PGS.TS Lương Ngọc Khuê, Cục trưởng Cục Quản lý Khám, chữa bệnh</p>
                                                    <table class="picture" align="center">
                                                        <tbody>
                                                            <tr>
                                                                <td class="pic">
                                                                    <div class="zad-inimage-wrapper" style="overflow: hidden;">
                                                                        <img src="https://znews-photo.zadn.vn/w660/Uploaded/lepx/2020_03_17/bv_nhietdoi.jpg" alt="Bac si tiep tuc hoi chan ve hai ca benh nang o Ha Noi hinh anh 1 bv_nhietdoi.jpg" data-bind-event="true" slide-pos="1"><div id="advArticleImage" style="height: 0px; width: 0px; position: absolute; overflow: hidden; z-index: -1; display: none;">
                                                                            <div id="adtima-zone-1786550327981864439" class="z2-zads-zone" z2-width="1" z2-height="1" z2-zoneid="1786550327981864439" z2-type="inimage" z2-close="black-circle" z2-logo-position="bottom" z2-responsive="true"><iframe id="adtimaIFrameWrapper_1786550327981864439" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" class="z2-zad-iframe" src="javascript:&quot;<!DOCTYPE html><html><body style='background:transparent'></body></html>&quot;" style="border: 0px; display: none; overflow: hidden;"></iframe><div id="adtimaDivWrapper_1786550327981864439" style="display: none;"></div></div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="pCaption caption default-caption">
                                                                    Khu vực cách ly của Bệnh viện Bệnh Nhiệt đới Trung ương cơ sở 2 được bảo vệ nghiêm ngặt. Ảnh: <em>Phạm Thắng.</em>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div id="comment" class="tab-pane fade">
                                                    <div id="timeline-1">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                                                                <div class="timeline-container">
                                                                    <div class="timeline-label">
                                                                        <span class="label label-primary arrowed-in-right label-lg">
                                                                            <b>Today</b>
                                                                        </span>
                                                                    </div>

                                                                    <div class="timeline-items">
                                                                        <div class="timeline-item clearfix">
                                                                            <div class="timeline-info">
                                                                                <img alt="Susan't Avatar" src="~/Content/assetsmes/images/avatars/avatar1.png" />
                                                                                <span class="label label-info label-sm">16:22</span>
                                                                            </div>

                                                                            <div class="widget-box transparent">
                                                                                <div class="widget-header widget-header-small">
                                                                                    <h5 class="widget-title smaller">
                                                                                        <span class="red">Phòng Công Nghệ Thông Tin </span> - Thiên Vũ
                                                                                        <span class="grey">đã bình luận</span>
                                                                                    </h5>

                                                                                    <span class="widget-toolbar no-border">
                                                                                        <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                                                                        16:22
                                                                                    </span>

                                                                                    <span class="widget-toolbar">
                                                                                        <a href="#" data-action="reload">
                                                                                            <i class="ace-icon fa fa-refresh"></i>
                                                                                        </a>

                                                                                        <a href="#" data-action="collapse">
                                                                                            <i class="ace-icon fa fa-chevron-up"></i>
                                                                                        </a>
                                                                                    </span>
                                                                                </div>

                                                                                <div class="widget-body">
                                                                                    <div class="widget-main">
                                                                                        Bài Viết Hay Qúa

                                                                                        <div class="space-6"></div>

                                                                                        <div class="widget-toolbox clearfix">
                                                                                            <div class="pull-left">
                                                                                                <i class="ace-icon fa fa-hand-o-right grey bigger-125"></i>
                                                                                                <a href="#" class="bigger-110">Click to read &hellip;</a>
                                                                                            </div>

                                                                                            <div class="pull-right action-buttons">
                                                                                                <a href="#">
                                                                                                    <i class="ace-icon fa fa-check green bigger-130"></i>
                                                                                                </a>

                                                                                                <a href="#">
                                                                                                    <i class="ace-icon fa fa-pencil blue bigger-125"></i>
                                                                                                </a>

                                                                                                <a href="#">
                                                                                                    <i class="ace-icon fa fa-times red bigger-125"></i>
                                                                                                </a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="timeline-container">
                                                                    <div class="timeline-label">
                                                                        <span class="label label-grey arrowed-in-right label-lg">
                                                                            <b>16/03/2020 10:22</b>
                                                                        </span>
                                                                    </div>

                                                                    <div class="timeline-items">
                                                                        <div class="timeline-item clearfix">
                                                                            <div class="timeline-info">
                                                                                <i class="timeline-indicator ace-icon fa fa-edit btn btn-primary no-hover green"></i>
                                                                            </div>

                                                                            <div class="widget-box transparent">
                                                                                <div class="widget-header widget-header-small">
                                                                                    <h5 class="widget-title smaller">Nhập Bình Luận Của Bạn</h5>

                                                                                    <span class="widget-toolbar">
                                                                                        <a href="#" data-action="collapse">
                                                                                            <i class="ace-icon fa fa-chevron-up"></i>
                                                                                        </a>
                                                                                    </span>
                                                                                </div>

                                                                                <div class="widget-body">
                                                                                    <div class="widget-main">
                                                                                        <form>
                                                                                            <fieldset>
                                                                                                <textarea class="width-100" resize="none" placeholder="Type something…"></textarea>
                                                                                            </fieldset>

                                                                                            <div class="hr hr-dotted"></div>

                                                                                            <div class="clearfix">
                                                                                                <button class="pull-right btn btn-sm btn-primary btn-white btn-round" type="button">
                                                                                                    Gửi Bình Luận
                                                                                                    <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                                                                                                </button>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="attachment" class="tab-pane fade">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-3">
                                                            <div class="text-center">
                                                                <img height="150" class="thumbnail inline no-margin-bottom" alt="Domain Owner's Avatar" src="~/Content/assetsmes/images/avatars/profile-pic.jpg" />
                                                                <br />
                                                                <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                                                    <div class="inline position-relative">
                                                                        <a class="user-title-label" href="#">
                                                                            <i class="ace-icon fa fa-user light-green"></i>
                                                                            &nbsp;
                                                                            <span class="white">Lê Hoàng Thiên Vũ</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-xs-12 col-sm-9">
                                                            <div class="space visible-xs"></div>

                                                            <div class="profile-user-info profile-user-info-striped">
                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Username </div>

                                                                    <div class="profile-info-value">
                                                                        <span>alexdoe</span>
                                                                    </div>
                                                                </div>

                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Location </div>

                                                                    <div class="profile-info-value">
                                                                        <i class="fa fa-map-marker light-orange bigger-110"></i>
                                                                        <span>Netherlands, Amsterdam</span>
                                                                    </div>
                                                                </div>

                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Age </div>

                                                                    <div class="profile-info-value">
                                                                        <span>38</span>
                                                                    </div>
                                                                </div>

                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Joined </div>

                                                                    <div class="profile-info-value">
                                                                        <span>2010/06/20</span>
                                                                    </div>
                                                                </div>

                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> Last Online </div>

                                                                    <div class="profile-info-value">
                                                                        <span>3 hours ago</span>
                                                                    </div>
                                                                </div>

                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"> About Me </div>

                                                                    <div class="profile-info-value">
                                                                        <span>Bio</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div>
        </div>
    </div>
</div>

@section ScriptsCode{
    <script type="text/javascript">
        jQuery(function ($) {

            $('#simple-colorpicker-1').ace_colorpicker({ pull_right: true }).on('change', function () {
                var color_class = $(this).find('option:selected').data('class');
                var new_class = 'widget-box';
                if (color_class != 'default') new_class += ' widget-color-' + color_class;
                $(this).closest('.widget-box').attr('class', new_class);
            });


            // scrollables
            $('.scrollable').each(function () {
                var $this = $(this);
                $(this).ace_scroll({
                    size: $this.attr('data-size') || 100,
                    //styleClass: 'scroll-left scroll-margin scroll-thin scroll-dark scroll-light no-track scroll-visible'
                });
            });
            $('.scrollable-horizontal').each(function () {
                var $this = $(this);
                $(this).ace_scroll(
                    {
                        horizontal: true,
                        styleClass: 'scroll-top',//show the scrollbars on top(default is bottom)
                        size: $this.attr('data-size') || 500,
                        mouseWheelLock: true
                    }
                ).css({ 'padding-top': 12 });
            });

            $(window).on('resize.scroll_reset', function () {
                $('.scrollable-horizontal').ace_scroll('reset');
            });


            $('#id-checkbox-vertical').prop('checked', false).on('click', function () {
                $('#widget-toolbox-1').toggleClass('toolbox-vertical')
                    .find('.btn-group').toggleClass('btn-group-vertical')
                    .filter(':first').toggleClass('hidden')
                    .parent().toggleClass('btn-toolbar')
            });

            /**
            //or use slimScroll plugin
            $('.slim-scrollable').each(function () {
                var $this = $(this);
                $this.slimScroll({
                    height: $this.data('height') || 100,
                    railVisible:true
                });
            });
            */


            /**$('.widget-box').on('setting.ace.widget' , function(e) {
                e.preventDefault();
            });*/

            /**
            $('.widget-box').on('show.ace.widget', function(e) {
                //e.preventDefault();
                //this = the widget-box
            });
            $('.widget-box').on('reload.ace.widget', function(e) {
                //this = the widget-box
            });
            */

            //$('#my-widget-box').widget_box('hide');



            // widget boxes
            // widget box drag & drop example
            $('.widget-container-col').sortable({
                connectWith: '.widget-container-col',
                items: '> .widget-box',
                handle: ace.vars['touch'] ? '.widget-title' : false,
                cancel: '.fullscreen',
                opacity: 0.8,
                revert: true,
                forceHelperSize: true,
                placeholder: 'widget-placeholder',
                forcePlaceholderSize: true,
                tolerance: 'pointer',
                start: function (event, ui) {
                    //when an element is moved, it's parent becomes empty with almost zero height.
                    //we set a min-height for it to be large enough so that later we can easily drop elements back onto it
                    ui.item.parent().css({ 'min-height': ui.item.height() })
                    //ui.sender.css({'min-height':ui.item.height() , 'background-color' : '#F5F5F5'})
                },
                update: function (event, ui) {
                    ui.item.parent({ 'min-height': '' })
                    //p.style.removeProperty('background-color');


                    //save widget positions
                    var widget_order = {}
                    $('.widget-container-col').each(function () {
                        var container_id = $(this).attr('id');
                        widget_order[container_id] = []


                        $(this).find('> .widget-box').each(function () {
                            var widget_id = $(this).attr('id');
                            widget_order[container_id].push(widget_id);
                            //now we know each container contains which widgets
                        });
                    });

                    ace.data.set('demo', 'widget-order', widget_order, null, true);
                }
            });


            ///////////////////////

            //when a widget is shown/hidden/closed, we save its state for later retrieval
            $(document).on('shown.ace.widget hidden.ace.widget closed.ace.widget', '.widget-box', function (event) {
                var widgets = ace.data.get('demo', 'widget-state', true);
                if (widgets == null) widgets = {}

                var id = $(this).attr('id');
                widgets[id] = event.type;
                ace.data.set('demo', 'widget-state', widgets, null, true);
            });


            (function () {
                //restore widget order
                var container_list = ace.data.get('demo', 'widget-order', true);
                if (container_list) {
                    for (var container_id in container_list) if (container_list.hasOwnProperty(container_id)) {

                        var widgets_inside_container = container_list[container_id];
                        if (widgets_inside_container.length == 0) continue;

                        for (var i = 0; i < widgets_inside_container.length; i++) {
                            var widget = widgets_inside_container[i];
                            $('#' + widget).appendTo('#' + container_id);
                        }

                    }
                }


                //restore widget state
                var widgets = ace.data.get('demo', 'widget-state', true);
                if (widgets != null) {
                    for (var id in widgets) if (widgets.hasOwnProperty(id)) {
                        var state = widgets[id];
                        var widget = $('#' + id);
                        if
                        (
                            (state == 'shown' && widget.hasClass('collapsed'))
                            ||
                            (state == 'hidden' && !widget.hasClass('collapsed'))
                        ) {
                            widget.widget_box('toggleFast');
                        }
                        else if (state == 'closed') {
                            widget.widget_box('closeFast');
                        }
                    }
                }


                $('#main-widget-container').removeClass('invisible');


                //reset saved positions and states
                $('#reset-widgets').on('click', function () {
                    ace.data.remove('demo', 'widget-state');
                    ace.data.remove('demo', 'widget-order');
                    document.location.reload();
                });

            })();

        });
    </script>
}