@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMes.cshtml";
}

@section Css{
    <link rel="stylesheet" href="~/Content/assetsmes/css/bootstrap-datepicker3.min.css" />
    <style>
        h3 {
            font-size: 14px !important;
            min-height: 50px;
        }

        .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
            display: block;
            height: 180px;
            width: 100%;
        }

        .label-lg.arrowed, .label-lg.arrowed-in {
            /* margin-left: 6px; */
            margin-bottom: 15px;
        }

        select.form-control {
            padding: 4px 6px;
            height: 30px;
        }

        a {
            color: #337ab7;
            text-decoration: none;
            line-height: 20px;
        }

        .ace-settings-box.open {
            max-width: 1600px;
            max-height: 1000px;
            padding: 12px;
            border-width: 2px;
            -webkit-transition-delay: 0s;
            -moz-transition-delay: 0s;
            -o-transition-delay: 0s;
            transition-delay: 0s;
        }
    </style>
}

@section Scripts{
    <script src="~/MyScript/bangtin/TrangChu00Ctrl.js"></script>
}

<div ng-controller="TC00Ctrl" ng-init="Init()">
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/Home">FSM</a>
            </li>
            <li class="active">Bảng Tin</li>
        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div><!-- /.nav-search -->
    </div>

    <div id="mescontent" class="page-content">
        <div class="ace-settings-container" id="ace-settings-container">
            @*Tường Công Ty*@
            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                <i class="ace-icon fa fa-book bigger-130"></i>
            </div>

            <div class="ace-settings-box" id="ace-settings-box">
                <table id="simple-table" class="table  table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Tiêu Đề</th>
                            <th>Mô Tả</th>
                            <th>Người Đăng</th>
                            <th>Ngày Đăng</th>
                            <th>Bình Luận</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat-start="item in BaiVietTuong track by $index">
                            <td>
                                <a href="#" title="{{item.TieuDe}}">{{item.TieuDe | limitTo : 30}}{{item.TieuDe.length > 30 ? '...' : ''}}</a>
                            </td>
                            <td>
                                <a href="#" title="{{item.MoTa}}">{{item.MoTa | limitTo : 35}}{{item.TieuDe.length > 35 ? '...' : ''}}</a>
                            </td>
                            <td>{{item.TenNguoiDung}}</td>
                            <td>{{ReturnFullDateTime(item.NgayTao)}}</td>
                            <td class="center">
                                <div class="action-buttons">
                                    <a href="#" class="green bigger-140 show-details-btn" title="Xem bình luận" ng-click="XemBinhLuan($index + 1)">
                                        <i class="ace-icon fa fa-angle-double-down" id="angle{{$index + 1}}"></i>
                                        <span class="sr-only">Details</span>
                                    </a>
                                </div>
                            </td>
                        </tr>

                        <tr class="detail-row" id="comment{{$index + 1}}" ng-repeat-end>
                            <td colspan="5">
                                <div class="table-detail">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="space visible-xs"></div>

                                            <div class="comments" ng-show="item.BinhLuan.length > 0">
                                                <div class="itemdiv commentdiv" ng-repeat="index in item.BinhLuan">
                                                    <div class="user">
                                                        <img alt="Jennifer's Avatar" src="{{index.HinhAnh}}" />
                                                    </div>

                                                    <div class="body">
                                                        <div class="name">
                                                            <a href="#">{{index.TenNguoiDung}}</a>
                                                        </div>

                                                        <div class="time">
                                                            <i class="ace-icon fa fa-clock-o"></i>
                                                            <span class="blue">15 min</span>
                                                        </div>

                                                        <div class="text">
                                                            <i class="ace-icon fa fa-quote-left"></i>
                                                            {{index.NoiDung}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <ul class="list-unstyled spaced" ng-show="item.BinhLuan.length == 0">
                                                <li>
                                                    <i class="ace-icon fa fa-times bigger-110 red"></i>
                                                    Bài Viết Này Chưa Có Bình Luận Nào
                                                </li>
                                            </ul>

                                            <div class="hr hr8"></div>

                                            <div class="center" ng-show="item.BinhLuan.length > 0">
                                                <i class="ace-icon fa fa-comments-o fa-2x green middle"></i>

                                                &nbsp;
                                                <a href="#" class="btn btn-sm btn-white btn-info">
                                                    Xem Thêm &nbsp;
                                                    <i class="ace-icon fa fa-arrow-right"></i>
                                                </a>
                                            </div>

                                            <div class="form-actions">
                                                <div class="input-group">
                                                    <input placeholder="Nhập bình luận của bạn ..." type="text" class="form-control" name="message" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-sm btn-info no-radius" type="button">
                                                            <i class="ace-icon fa fa-share"></i>
                                                            Gửi
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                @*<ul
                    uib-pagination
                    total-items="totalItems"
                    items-per-page="itemsPerPage"
                    ng-model="currentPage"
                    ng-change="LayDanhSachBaiViet(MaLoaiTin)"></ul>*@
            </div>
            @*/Tường Công Ty*@
        </div>
        <div class="page-header">
            <h1>
                Tin Tức
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Nơi Chứa Thông Tin
                </small>
            </h1>
        </div>

        <div class="row" style="overflow-y: auto; height: calc(100% - 25px);">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tabbable">
                            @*Danh sách loại tin*@
                            <ul class="nav nav-tabs" id="myTab">
                                <li ng-class="{{item.MaLoaiTin == DanhSachLoaiTin[0].MaLoaiTin ? ['active'] : ['']}}"
                                    ng-repeat="item in DanhSachLoaiTin"
                                    ng-click="LayDanhSachBaiViet(item.MaLoaiTin)">
                                    <a data-toggle="tab" href="#tin">
                                        <i class="blue ace-icon fa fa-{{item.Icon}} bigger-120"></i>
                                        {{item.Ten}}
                                    </a>
                                </li>

                                <li ng-click="LaySinhNhat()">
                                    <a data-toggle="tab" href="#sn">
                                        <i class="blue ace-icon fa fa-calendar bigger-120"></i>
                                        Sinh Nhật
                                    </a>
                                </li>
                            </ul>
                            @*/ Danh sách loại tin*@

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tin">
                                    <div class="row">
                                        @*Show theo templateList = 1*@
                                        <div ng-repeat="item in DanhSachTinTuc" class="col-xs-6 col-sm-3 col-md-3" ng-show="DanhSachTinTuc.length > 0 && !ttshow && TemplateList == 1">
                                            <div class="thumbnail search-thumbnail">
                                                <span class="search-promotion label label-danger arrowed-in arrowed-in-right"><i class="ace-icon fa fa-user"></i> {{item.TenNguoiDung}}</span>
                                                <img class="media-object" src="{{item.HinhAnh}}" ng-click="LayChiTietBaiViet(item.MaTinTuc)" />

                                                <div class="caption">
                                                    <div class="clearfix">
                                                        <div class="pull-left bigger-110">
                                                            <i class="ace-icon fa fa-eye orange2"></i> {{item.LuotXem}}
                                                        </div>
                                                        <span class="pull-right label label-success info-label">{{ReturnDDMMYYYY(item.NgayTao)}}</span>
                                                    </div>

                                                    <h3 class="search-title">
                                                        <a href="#" class="blue" title="{{item.TieuDe}}" data-rel="tooltip" id="show{{item.MaTinTuc}}" ng-click="LayChiTietBaiViet(item.MaTinTuc)">{{ item.TieuDe | limitTo: 40 }}{{item.TieuDe.length > 40 ? '...' : ''}}</a>
                                                    </h3>
                                                    <p>{{item.MoTa| limitTo: 37 }}{{item.MoTa.length > 30 ? '...' : ''}}</p>
                                                    <span class="text-success" ng-click="LayChiTietBaiViet(item.MaTinTuc)">Xem Chi Tiết <i class="ace-icon fa fa-angle-double-down"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        @*/Show theo templateList = 1*@

                                        @*Show theo templateList = 2*@
                                        <div ng-repeat="item in DanhSachTinTuc" class="col-xs-12" ng-show="DanhSachTinTuc.length > 0 && !ttshow && TemplateList == 2">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <a href="#">
                                                        <img class="media-object" src="{{item.HinhAnh}}" width="100%" ng-click="LayChiTietBaiViet(item.MaTinTuc)" />
                                                    </a>
                                                </div>
                                                <div class="col-lg-10">
                                                    <h4 class="media-heading">
                                                        <a href="#" class="blue" ng-click="LayChiTietBaiViet(item.MaTinTuc)">{{ item.TieuDe }}</a>
                                                    </h4>
                                                    <i class="ace-icon fa fa-user orange2"></i> {{item.TenNguoiDung}}
                                                    <i class="ace-icon fa fa-calendar orange2"></i> {{ReturnDDMMYYYY(item.NgayTao)}}
                                                    <i class="ace-icon fa fa-eye orange2"></i> {{item.LuotXem}}
                                                    <p>{{ item.MoTa }}</p>
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                        @*/Show theo templateList = 2*@

                                        @*Show Chi Tiết Tin*@
                                        <div class="col-xs-12" ng-show="ttshow">
                                            <div class="well well-lg" style="background-color: #fff">
                                                <span class="label label-lg label-success arrowed" ng-click="LayDanhSachBaiViet(MaLoaiTin)">Trở Về</span>
                                                <h4 class="blue">{{ThongTinBV.TieuDe}}</h4>
                                                <img class="width-100" src="{{ThongTinBV.HinhAnh}}" />
                                                <p ng-bind-html="ThongTinBV.NoiDung"></p>
                                                <br />
                                                <h4 class="blue">Tập Tin Đính Kèm ({{ThongTinBV.TapTinDinhKem.length}})</h4>
                                                <ul class="list-unstyled spaced2">
                                                    <li ng-repeat="item in ThongTinBV.TapTinDinhKem">
                                                        <i class="ace-icon fa fa-circle green" ng-show="DanhSachTinTuc.length > 1"></i>
                                                        <a href="#" class="dark" id="ct{{item.MaTinTuc}}" ng-click="LayChiTietBaiViet(item.MaTinTuc)">
                                                            {{item.Url}}
                                                        </a>
                                                    </li>
                                                </ul>
                                                <h4 class="blue">Các Tin Liên Quan</h4>
                                                <ul class="list-unstyled spaced2">
                                                    <li ng-repeat="j in ThongTinBV.TinLienQuan">
                                                        <i class="ace-icon fa fa-circle green"></i>
                                                        <a href="#" class="dark" ng-click="LayChiTietBaiViet(j.MaTinTuc)">
                                                            {{j.TieuDe}}
                                                        </a>
                                                    </li>
                                                </ul>

                                                <div class="row">
                                                    <div class="col-sm-6" id="default-buttons">
                                                        <p>
                                                            <span class="label label-lg label-success arrowed" ng-click="LayDanhSachBaiViet(MaLoaiTin)">Trở Về</span>
                                                            <span class="label label-lg label-pink">Chia Sẻ <i class="ace-icon fa fa-share"></i></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*/ Show Chi Tiết Tin*@
                                    </div>
                                </div>
                                @*/Show Chi Tiết Tin*@

                                @* Sinh Nhật Trong Tháng*@
                                <div class="tab-pane fade" id="sn">
                                    <div class="row">
                                        <div ng-repeat="item in DanhSachUser track by item.MaNguoiDung" class="col-xs-6 col-sm-3 col-md-3">
                                            <div class="thumbnail search-thumbnail">
                                                <span class="search-promotion label label-success arrowed-in arrowed-in-right">{{item.PhongBan}}</span>
                                                <img class="media-object" src="{{item.HinhAnh}}" />

                                                <div class="caption">
                                                    <div class="clearfix">
                                                        <span class="pull-right label label-grey info-label">{{item.NgaySinh}}/{{item.ThangSinh}}/{{item.NamSinh}}</span>
                                                    </div>

                                                    <h3 class="search-title">
                                                        <a href="#" class="blue">{{item.Ten}}</a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <ul ng-show="!ttshow && sinhNhat"
                                            uib-pagination
                                            total-items="totalItems"
                                            items-per-page="itemsPerPage"
                                            ng-model="currentPage"></ul>
                                    </div>

                                    <h3 class="header smaller lighter green">Sinh Nhật Trong Năm</h3>
                                    <a href="#"
                                       class="btn btn-app btn-info btn-xs"
                                       ng-repeat="x in [].constructor(12) track by $index"
                                       id="sn{{$index + 1}}"
                                       ng-click="LaySinhNhatTheoThang($index + 1)">
                                        <i class="ace-icon fa fa-calendar bigger-160"></i>
                                        Tháng {{$index + 1}}
                                    </a>
                                </div>
                                @*/ Sinh Nhật Trong Tháng*@

                                @*Thanh phân trang cho tin*@
                                <ul ng-show="!ttshow && !sinhNhat"
                                    uib-pagination
                                    total-items="totalItems"
                                    items-per-page="itemsPerPage"
                                    ng-model="currentPage"
                                    ng-change="LayDanhSachBaiViet(MaLoaiTin)"></ul>
                                @*/ Thanh phân trang cho tin*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>