@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMes.cshtml";
}

@section Css{
    <link rel="stylesheet" href="~/Content/assetsmes/css/bootstrap-datepicker3.min.css" />
    <style>
        .message-item .time {
            float: right;
            width: auto;
            height: 18px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: #666;
        }

        .ctArticle img {
            width: 100% !important
        }

        .message-item .sender {
            margin: 0 6px 0 4px;
            color: #467287;
            width: 150px;
            height: 18px;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;
        }
    </style>
}

@section Scripts{
    <script src="~/MyScript/bangtin/QuanLyCtrl.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            // scrollables
            $('.scrollable').each(function () {
                var $this = $(this);
                $(this).ace_scroll({
                    size: $this.attr('data-size') || 100,
                    //styleClass: 'scroll-left scroll-margin scroll-thin scroll-dark scroll-light no-track scroll-visible'
                });
            });
            $('.scrollable-horizontal').each(function () {
                var $this = $(this);
                $(this).ace_scroll(
                    {
                        horizontal: true,
                        styleClass: 'scroll-top',//show the scrollbars on top(default is bottom)
                        size: $this.attr('data-size') || 500,
                        mouseWheelLock: true
                    }
                ).css({ 'padding-top': 12 });
            });

            $(window).on('resize.scroll_reset', function () {
                $('.scrollable-horizontal').ace_scroll('reset');
            });


            $('#id-checkbox-vertical').prop('checked', false).on('click', function () {
                $('#widget-toolbox-1').toggleClass('toolbox-vertical')
                    .find('.btn-group').toggleClass('btn-group-vertical')
                    .filter(':first').toggleClass('hidden')
                    .parent().toggleClass('btn-toolbar')
            });


            ///////////////////////

            //when a widget is shown/hidden/closed, we save its state for later retrieval
            $(document).on('shown.ace.widget hidden.ace.widget closed.ace.widget', '.widget-box', function (event) {
                var widgets = ace.data.get('demo', 'widget-state', true);
                if (widgets == null) widgets = {}

                var id = $(this).attr('id');
                widgets[id] = event.type;
                ace.data.set('demo', 'widget-state', widgets, null, true);
            });


            (function () {
                //restore widget order
                var container_list = ace.data.get('demo', 'widget-order', true);
                if (container_list) {
                    for (var container_id in container_list) if (container_list.hasOwnProperty(container_id)) {

                        var widgets_inside_container = container_list[container_id];
                        if (widgets_inside_container.length == 0) continue;

                        for (var i = 0; i < widgets_inside_container.length; i++) {
                            var widget = widgets_inside_container[i];
                            $('#' + widget).appendTo('#' + container_id);
                        }

                    }
                }


                //restore widget state
                var widgets = ace.data.get('demo', 'widget-state', true);
                if (widgets != null) {
                    for (var id in widgets) if (widgets.hasOwnProperty(id)) {
                        var state = widgets[id];
                        var widget = $('#' + id);
                        if
                        (
                            (state == 'shown' && widget.hasClass('collapsed'))
                            ||
                            (state == 'hidden' && !widget.hasClass('collapsed'))
                        ) {
                            widget.widget_box('toggleFast');
                        }
                        else if (state == 'closed') {
                            widget.widget_box('closeFast');
                        }
                    }
                }


                $('#main-widget-container').removeClass('invisible');


                //reset saved positions and states
                $('#reset-widgets').on('click', function () {
                    ace.data.remove('demo', 'widget-state');
                    ace.data.remove('demo', 'widget-order');
                    document.location.reload();
                });

            })();

        });
    </script>
}


@section ScriptsCode{
    <script src="~/Content/assetsmes/js/bootstrap-tag.min.js"></script>
    <script src="~/Content/assetsmes/js/jquery.hotkeys.index.min.js"></script>
    <script src="~/Content/assetsmes/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/Content/assetsmes/js/moment.min.js"></script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {

            //handling tabs and loading/displaying relevant messages and forms
            //not needed if using the alternative view, as described in docs
            $('#inbox-tabs a[data-toggle="tab"]').on('show.bs.tab', function (e) {
                var currentTab = $(e.target).data('target');
                if (currentTab == 'write') {
                    Inbox.show_form();
                }
                else if (currentTab == 'inbox') {
                    Inbox.show_list();
                }
            })

            //basic initializations
            $('.message-list .message-item input[type=checkbox]').removeAttr('checked');
            $('.message-list').on('click', '.message-item input[type=checkbox]', function () {
                $(this).closest('.message-item').toggleClass('selected');
                if (this.checked) Inbox.display_bar(1);//display action toolbar when a message is selected
                else {
                    Inbox.display_bar($('.message-list input[type=checkbox]:checked').length);
                    //determine number of selected messages and display/hide action toolbar accordingly
                }
            });


            //check/uncheck all messages
            $('#id-toggle-all').removeAttr('checked').on('click', function () {
                if (this.checked) {
                    Inbox.select_all();
                } else Inbox.select_none();
            });

            //select all
            $('#id-select-message-all').on('click', function (e) {
                e.preventDefault();
                Inbox.select_all();
            });

            //select none
            $('#id-select-message-none').on('click', function (e) {
                e.preventDefault();
                Inbox.select_none();
            });

            //select read
            $('#id-select-message-read').on('click', function (e) {
                e.preventDefault();
                Inbox.select_read();
            });

            //select unread
            $('#id-select-message-unread').on('click', function (e) {
                e.preventDefault();
                Inbox.select_unread();
            });

            /////////

            ////display first message in a new area
            //$('.message-list .message-item:eq(0) .text').on('click', function () {
            //    //show the loading icon
            //    $('.message-container').append('<div class="message-loading-overlay"><i class="fa-spin ace-icon fa fa-spinner orange2 bigger-160"></i></div>');

            //    $('.message-inline-open').removeClass('message-inline-open').find('.message-content').remove();

            //    var message_list = $(this).closest('.message-list');

            //    $('#inbox-tabs a[href="#inbox"]').parent().removeClass('active');
            //    //some waiting
            //    setTimeout(function () {

            //        //hide everything that is after .message-list (which is either .message-content or .message-form)
            //        message_list.next().addClass('hide');
            //        $('.message-container').find('.message-loading-overlay').remove();

            //        //close and remove the inline opened message if any!

            //        //hide all navbars
            //        $('.message-navbar').addClass('hide');
            //        //now show the navbar for single message item
            //        $('#id-message-item-navbar').removeClass('hide');

            //        //hide all footers
            //        $('.message-footer').addClass('hide');
            //        //now show the alternative footer
            //        $('.message-footer-style2').removeClass('hide');


            //        //move .message-content next to .message-list and hide .message-list
            //        $('.message-content').removeClass('hide').insertAfter(message_list.addClass('hide'));

            //        //add scrollbars to .message-body
            //        $('.message-content .message-body').ace_scroll({
            //            size: 150,
            //            mouseWheelLock: true,
            //            styleClass: 'scroll-visible'
            //        });

            //    }, 500 + parseInt(Math.random() * 500));
            //});


            ////display second message right inside the message list
            //$('.message-list .message-item:eq(1) .text').on('click', function () {
            //    var message = $(this).closest('.message-item');

            //    //if message is open, then close it
            //    if (message.hasClass('message-inline-open')) {
            //        message.removeClass('message-inline-open').find('.message-content').remove();
            //        return;
            //    }

            //    $('.message-container').append('<div class="message-loading-overlay"><i class="fa-spin ace-icon fa fa-spinner orange2 bigger-160"></i></div>');
            //    setTimeout(function () {
            //        $('.message-container').find('.message-loading-overlay').remove();
            //        message
            //            .addClass('message-inline-open')
            //            .append('<div class="message-content" />')
            //        var content = message.find('.message-content:last').html($('#id-message-content').html());

            //        //remove scrollbar elements
            //        content.find('.scroll-track').remove();
            //        content.find('.scroll-content').children().unwrap();

            //        content.find('.message-body').ace_scroll({
            //            size: 150,
            //            mouseWheelLock: true,
            //            styleClass: 'scroll-visible'
            //        });

            //    }, 500 + parseInt(Math.random() * 500));

            //});



            ////back to message list
            //$('.btn-back-message-list').on('click', function (e) {

            //    e.preventDefault();
            //    $('#inbox-tabs a[href="#inbox"]').tab('show');
            //});



            //hide message list and display new message form
            /**
            $('.btn-new-mail').on('click', function(e){
                e.preventDefault();
                Inbox.show_form();
            });
            */




            var Inbox = {
                //displays a toolbar according to the number of selected messages
                display_bar: function (count) {
                    if (count == 0) {
                        $('#id-toggle-all').removeAttr('checked');
                        $('#id-message-list-navbar .message-toolbar').addClass('hide');
                        $('#id-message-list-navbar .message-infobar').removeClass('hide');
                    }
                    else {
                        $('#id-message-list-navbar .message-infobar').addClass('hide');
                        $('#id-message-list-navbar .message-toolbar').removeClass('hide');
                    }
                }
                ,
                select_all: function () {
                    var count = 0;
                    $('.message-item input[type=checkbox]').each(function () {
                        this.checked = true;
                        $(this).closest('.message-item').addClass('selected');
                        count++;
                    });

                    $('#id-toggle-all').get(0).checked = true;

                    Inbox.display_bar(count);
                }
                ,
                select_none: function () {
                    $('.message-item input[type=checkbox]').removeAttr('checked').closest('.message-item').removeClass('selected');
                    $('#id-toggle-all').get(0).checked = false;

                    Inbox.display_bar(0);
                }
                ,
                select_read: function () {
                    $('.message-unread input[type=checkbox]').removeAttr('checked').closest('.message-item').removeClass('selected');

                    var count = 0;
                    $('.message-item:not(.message-unread) input[type=checkbox]').each(function () {
                        this.checked = true;
                        $(this).closest('.message-item').addClass('selected');
                        count++;
                    });
                    Inbox.display_bar(count);
                }
                ,
                select_unread: function () {
                    $('.message-item:not(.message-unread) input[type=checkbox]').removeAttr('checked').closest('.message-item').removeClass('selected');

                    var count = 0;
                    $('.message-unread input[type=checkbox]').each(function () {
                        this.checked = true;
                        $(this).closest('.message-item').addClass('selected');
                        count++;
                    });

                    Inbox.display_bar(count);
                }
            }

            //show message list (back from writing mail or reading a message)
            Inbox.show_list = function () {
                $('.message-navbar').addClass('hide');
                $('#id-message-list-navbar').removeClass('hide');

                $('.message-footer').addClass('hide');
                $('.message-footer:not(.message-footer-style2)').removeClass('hide');

                $('.message-list').removeClass('hide').next().addClass('hide');
                //hide the message item / new message window and go back to list
            }

            //show write mail form
            Inbox.show_form = function () {
                if ($('.message-form').is(':visible')) return;
                if (!form_initialized) {
                    initialize_form();
                }


                var message = $('.message-list');
                $('.message-container').append('<div class="message-loading-overlay"><i class="fa-spin ace-icon fa fa-spinner orange2 bigger-160"></i></div>');

                setTimeout(function () {
                    message.next().addClass('hide');

                    $('.message-container').find('.message-loading-overlay').remove();

                    $('.message-list').addClass('hide');
                    $('.message-footer').addClass('hide');
                    $('.message-form').removeClass('hide').insertAfter('.message-list');

                    $('.message-navbar').addClass('hide');
                    $('#id-message-new-navbar').removeClass('hide');


                    //reset form??
                    $('.message-form .wysiwyg-editor').empty();

                    $('.message-form .ace-file-input').closest('.file-input-container:not(:first-child)').remove();
                    $('.message-form input[type=file]').ace_file_input('reset_input');

                    $('.message-form').get(0).reset();

                }, 300 + parseInt(Math.random() * 300));
            }




            var form_initialized = false;
            function initialize_form() {
                if (form_initialized) return;
                form_initialized = true;

                //intialize wysiwyg editor
                $('.message-form .wysiwyg-editor').ace_wysiwyg({
                    toolbar:
                        [
                            'bold',
                            'italic',
                            'strikethrough',
                            'underline',
                            null,
                            'justifyleft',
                            'justifycenter',
                            'justifyright',
                            null,
                            'createLink',
                            'unlink',
                            null,
                            'undo',
                            'redo'
                        ]
                }).prev().addClass('wysiwyg-style1');



                //file input
                $('.message-form input[type=file]').ace_file_input()
                    .closest('.ace-file-input')
                    .addClass('width-90 inline')
                    .wrap('<div class="form-group file-input-container"><div class="col-sm-7"></div></div>');

                //Add Attachment
                //the button to add a new file input
                $('#id-add-attachment')
                    .on('click', function () {
                        var file = $('<input type="file" name="attachment[]" />').appendTo('#form-attachments');
                        file.ace_file_input();

                        file.closest('.ace-file-input')
                            .addClass('width-90 inline')
                            .wrap('<div class="form-group file-input-container"><div class="col-sm-7"></div></div>')
                            .parent().append('<div class="action-buttons pull-right col-xs-1">\
                                                                                                                                    <a href="#" data-action="delete" class="middle">\
                                                                                                                                        <i class="ace-icon fa fa-trash-o red bigger-130 middle"></i>\
                                                                                                                                    </a>\
                                                                                                                                </div>')
                            .find('a[data-action=delete]').on('click', function (e) {
                                //the button that removes the newly inserted file input
                                e.preventDefault();
                                $(this).closest('.file-input-container').hide(300, function () { $(this).remove() });
                            });
                    });
            }//initialize_form

            //turn the recipient field into a tag input field!
            /**
            var tag_input = $('#form-field-recipient');
            try {
                tag_input.tag({placeholder:tag_input.attr('placeholder')});
            } catch(e) {}


            //and add form reset functionality
            $('#id-message-form').on('reset', function(){
                $('.message-form .message-body').empty();

                $('.message-form .ace-file-input:not(:first-child)').remove();
                $('.message-form input[type=file]').ace_file_input('reset_input_ui');

                var val = tag_input.data('value');
                tag_input.parent().find('.tag').remove();
                $(val.split(',')).each(function(k,v){
                    tag_input.before('<span class="tag">'+v+'<button class="close" type="button">&times;</button></span>');
                });
            });
            */

        });
    </script>
}

<div ng-controller="adminBT" ng-init="Init()">
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/Home">FSM</a>
            </li>
            <li class="active">Bảng Tin</li>
        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div><!-- /.nav-search -->
    </div>

    <div id="mescontent" class="page-content">
        <div class="row" style="overflow-y: auto; height: calc(100% - 25px);">
            <div class="page-header">
                <h1>
                    <a href="@Url.Action("Index","BangTin")">Bảng Tin</a>
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        <a href="#">Quản Lý Tin Tức</a>
                        : Nơi Người Quản Trị Có Thể Duyệt/Không Duyệt Các Bài Viết & Bình Luận
                    </small>
                </h1>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <div class="tabbable">
                        <ul id="inbox-tabs" class="inbox-tabs nav nav-tabs padding-16 tab-size-bigger tab-space-1">
                            @*Soạn bài viết*@
                            <li class="li-new-mail pull-right">
                                <a href="@Url.Action("SoanBaiViet","BangTin")" class="btn-new-mail">
                                    <span class="btn btn-purple no-border">
                                        <i class="ace-icon fa fa-envelope bigger-130"></i>
                                        <span class="bigger-110">Soạn Bài Viết</span>
                                    </span>
                                </a>
                            </li>
                            @*/Soạn bài viết*@

                            @*QLBV*@
                            <li class="active">
                                <a data-toggle="tab" href="#inbox" data-target="inbox">
                                    <i class="blue ace-icon fa fa-inbox bigger-130"></i>
                                    <span class="bigger-110">Quản Lý Bài Viết / Bình Luận</span>
                                </a>
                            </li>
                            @*/QLBV*@
                        </ul>

                        <div class="tab-content no-border no-padding">
                            <div id="inbox" class="tab-pane in active">
                                <div class="message-container">
                                    <div id="id-message-list-navbar" class="message-navbar clearfix">
                                        <div class="message-bar">
                                            @*Tiêu đề*@
                                            <div class="message-infobar" id="id-message-infobar">
                                                <span class="blue bigger-150">{{TieuDe}} ({{bigTotalItems}})</span>
                                            </div>
                                            @*/Tiêu đề*@

                                            @*Thanh công cụ khi hiển thị bên chi tiết bl*@
                                            <div id="toolbarComment">
                                                <div class="message-toolbar hide">
                                                    <div class="inline position-relative align-left">
                                                        <button type="button" class="btn-white btn-primary btn btn-xs dropdown-toggle" data-toggle="dropdown">
                                                            <span class="bigger-110">Action</span>

                                                            <i class="ace-icon fa fa-caret-down icon-on-right"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-lighter dropdown-caret dropdown-125">
                                                            <li>
                                                                <a href="#">
                                                                    <i class="ace-icon fa fa-mail-reply blue"></i>&nbsp; Reply
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#">
                                                                    <i class="ace-icon fa fa-mail-forward green"></i>&nbsp; Forward
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#">
                                                                    <i class="ace-icon fa fa-folder-open orange"></i>&nbsp; Archive
                                                                </a>
                                                            </li>

                                                            <li class="divider"></li>

                                                            <li>
                                                                <a href="#">
                                                                    <i class="ace-icon fa fa-eye blue"></i>&nbsp; Mark as read
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#">
                                                                    <i class="ace-icon fa fa-eye-slash green"></i>&nbsp; Mark unread
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#">
                                                                    <i class="ace-icon fa fa-flag-o red"></i>&nbsp; Flag
                                                                </a>
                                                            </li>

                                                            <li class="divider"></li>

                                                            <li>
                                                                <a href="#">
                                                                    <i class="ace-icon fa fa-trash-o red bigger-110"></i>&nbsp; Delete
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="inline position-relative align-left">
                                                        <button type="button" class="btn-white btn-primary btn btn-xs dropdown-toggle" data-toggle="dropdown">
                                                            <i class="ace-icon fa fa-folder-o bigger-110 blue"></i>
                                                            <span class="bigger-110">Move to</span>

                                                            <i class="ace-icon fa fa-caret-down icon-on-right"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-lighter dropdown-caret dropdown-125">
                                                            <li>
                                                                <a href="#">
                                                                    <i class="ace-icon fa fa-stop pink2"></i>&nbsp; Tag#1
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#">
                                                                    <i class="ace-icon fa fa-stop blue"></i>&nbsp; Family
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#">
                                                                    <i class="ace-icon fa fa-stop green"></i>&nbsp; Friends
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#">
                                                                    <i class="ace-icon fa fa-stop grey"></i>&nbsp; Work
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <button type="button" class="btn btn-xs btn-white btn-primary">
                                                        <i class="ace-icon fa fa-trash-o bigger-125 orange"></i>
                                                        <span class="bigger-110">Delete</span>
                                                    </button>
                                                </div>
                                            </div>
                                            @*/Thanh công cụ của bên ngoài giao diện hiển thị ds bl/bv*@
                                        </div>

                                        <div>
                                            @*Bộ lọc bên trái*@
                                            <div class="messagebar-item-left" id="leftToolBar">
                                                <label class="inline middle">
                                                    <input type="checkbox" id="id-toggle-all" class="ace" />
                                                    <span class="lbl"></span>
                                                </label>

                                                &nbsp;
                                                <div class="inline position-relative">
                                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                                        <i class="ace-icon fa fa-caret-down bigger-125 middle"></i>
                                                    </a>

                                                    <ul class="dropdown-menu dropdown-lighter dropdown-100">
                                                        <li>
                                                            <a id="id-select-message-none" href="#" ng-click="setHienThi(-1,'select1')"><i class="ace-icon fa fa-check green" id="select1"></i> Tất Cả</a>
                                                        </li>

                                                        <li>
                                                            <a id="id-select-message-none" href="#" ng-click="setHienThi(true,'select2')"><i class="ace-icon fa fa-check invisible green" id="select2"></i> Đã Duyệt</a>
                                                        </li>

                                                        <li>
                                                            <a id="id-select-message-none" href="#" ng-click="setHienThi(false,'select3')"><i class="ace-icon fa fa-check invisible green" id="select3"></i> Chờ Duyệt</a>
                                                        </li>

                                                        <li class="divider"></li>

                                                        <li>
                                                            <a id="id-select-message-none" href="#" ng-click="LayBaiVietTatCa()"><i class="ace-icon fa fa-check invisible green" id="select4"></i> Tất Cả</a>
                                                        </li>

                                                        <li ng-repeat="item in DsLoaiTin track by item.MaLoaiTin">
                                                            <a id="id-select-message-read" href="#" ng-click="LayBaiViet_TheoDanhMuc(item.MaLoaiTin)"><i class="ace-icon fa fa-check invisible green" id="selectLoai{{item.MaLoaiTin}}"></i> {{item.Ten}}</a>
                                                        </li>

                                                        <li>
                                                            <a id="id-select-message-read" href="#" ng-click="LayBaiVietTuong()"><i class="ace-icon fa fa-check invisible green" id="loaiTuong"></i> Tường Công Ty</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            @*/Bộ lọc bên trái*@

                                            @*Input tìm kiếm ở bộ lọc bên trái*@
                                            <div class="nav-search minimized" id="searchInput">
                                                @*<form class="form-search">
                                                        <span class="input-icon">
                                                            <input type="text" autocomplete="off" class="input-small nav-search-input" placeholder="Search inbox ..." />
                                                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                                                        </span>
                                                    </form>*@
                                            </div>
                                            @*/Input tìm kiếm ở bộ lọc bên trái*@
                                        </div>
                                    </div>

                                    @*Nội dung chính hiển thị ds bài viết / bình luận*@
                                    <div class="message-list-container">
                                        <div class="message-list" id="message-list">
                                            @*Danh Sách BV*@
                                            <div class="message-item message-unread" ng-repeat="item in DanhSach track by $index">
                                                <label class="inline">
                                                    <input type="checkbox" class="ace" />
                                                    <span class="lbl"></span>
                                                </label>

                                                <i class="message-star ace-icon fa fa-user orange2"></i>

                                                <span class="sender" title="{{item.TenNguoiDung}}">
                                                    {{item.TenNguoiDung}}
                                                </span>

                                                <span class="time">{{ReturnDate(item.NgayTao)}}</span>

                                                <span class="attachment">
                                                    <i class="ace-icon fa fa-check green" ng-show="item.HienThi"></i>
                                                    <i class="ace-icon fa fa-clock-o red" ng-show="!item.HienThi"></i>
                                                </span>

                                                <span class="summary" ng-show="MaLoaiTin == -1">
                                                    <i class="ace-icon fa fa-comment green"></i>
                                                    <span class="text">
                                                        {{item.BinhLuan.length}} Bình Luận
                                                    </span>
                                                </span>

                                                <span class="summary" ng-show="MaLoaiTin == 0">
                                                    <span class="badge badge-success mail-tag"></span>
                                                    <span class="text">
                                                        {{item.LoaiTin}}
                                                    </span>
                                                </span>

                                                <span class="summary" ng-show="MaLoaiTin == -1 || MaLoaiTin == 0">
                                                    <span class="badge badge-pink mail-tag"></span>
                                                    <span class="text" ng-click="LayChiTietBaiViet(item.MaTinTuc,item.MaLoaiTin)">
                                                        <a title="{{item.TieuDe}}"
                                                           data-rel="tooltip" href="#modal-table" data-toggle="modal" data-placement="bottom">
                                                            {{capitalize(item.TieuDe | limitTo : 50)}}{{SliceString(item.TieuDe,50)}}
                                                        </a>
                                                    </span>
                                                </span>

                                                <span class="summary" ng-show="MaLoaiTin != -1 && MaLoaiTin != 0">
                                                    <span class="badge badge-pink mail-tag"></span>
                                                    <span class="text" ng-click="LayChiTietBaiViet(item.MaTinTuc,item.MaLoaiTin)">
                                                        <a title="{{item.TieuDe}}"
                                                           data-rel="tooltip" href="#modal-table" data-toggle="modal" data-placement="bottom">
                                                            {{item.TieuDe | limitTo : 90}}{{SliceString(item.TieuDe,90)}}
                                                        </a>
                                                    </span>
                                                </span>
                                            </div>
                                            @*/ Danh Sách BV*@
                                        </div>
                                    </div>
                                    @*/Nội dung chính hiển thị ds bài viết / bình luận*@

                                    @*Phân trang*@
                                    <div class="hr hr-double hr8"></div>
                                    <ul uib-pagination
                                        total-items="bigTotalItems"
                                        ng-model="bigCurrentPage"
                                        items-per-page="itemsPerPage"
                                        max-size="maxSize"
                                        class="pagination-sm"
                                        boundary-link-numbers="true"
                                        rotate="false"
                                        ng-change="PhanTrang()">
                                    </ul>
                                    @*/Phân trang*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Modal Chi Tiết Của BV / BL*@
        <div id="modal-table" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header no-padding">
                        <div class="table-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span class="white">&times;</span>
                            </button>
                            Thông Tin Bài Viết
                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="message-container" id="contentComment">
                            <div class="message-list-container">
                                <div class="message-content" id="id-message-content">
                                    @*Tiêu Đề*@
                                    <div class="message-header clearfix">
                                        <div class="pull-left">
                                            <span class="blue bigger-125"> {{TTBV.TieuDe}} </span>
                                            <div class="space-4"></div>

                                            <i class="ace-icon fa fa-star orange2"></i>

                                            &nbsp;
                                            <img class="middle" alt="John's Avatar" src="~/Content/assetsmes/images/avatars/avatar.png" width="32">
                                            &nbsp;
                                            <a href="#" class="sender">{{TTBV.TenNguoiDung}}</a>

                                            &nbsp;
                                            <i class="ace-icon fa fa-clock-o bigger-110 orange middle"></i>
                                            <span class="time grey">{{ReturnDate(TTBV.NgayTao)}}</span>
                                        </div>
                                    </div>
                                    @*Tiêu Đề*@

                                    <div class="hr hr-double"></div>
                                    @*Mô Tả*@
                                    <div class="message-body" ng-show="MaLoaiTin != -1">
                                        <div class="ctArticle">
                                            <span class="blue bolder bigger-110">Mô Tả</span>
                                            <p ng-bind-html="htmlSafe(TTBV.MoTa)"></p>
                                        </div>
                                    </div>
                                    @*Mô Tả*@

                                    <div class="hr hr-double" ng-show="MaLoaiTin != -1"></div>

                                    @*Nội Dung*@
                                    <div class="message-body">
                                        <div class="ctArticle">
                                            <span class="blue bolder bigger-110">Nội Dung</span>
                                            <div class="scrollable" data-size="300" data-position="left">
                                                <div class="widget-box">
                                                    <div class="widget-body">
                                                        <div class="widget-main">
                                                            <p ng-bind-html="htmlSafe(TTBV.NoiDung)" ng-show="TTBV.NoiDung != ''"></p>
                                                            <p ng-show="TTBV.NoiDung == ''">
                                                                <i class="ace-icon fa fa-times red"></i>
                                                                Bài viết này chưa có nội dung
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*Nội Dung*@

                                    @*File Đính Kèm*@
                                    <div>
                                        <div class="hr hr-double"></div>
                                        <div class="message-attachment clearfix">
                                            <div class="attachment-title">
                                                <span class="blue bolder bigger-110">Tập Tin Đính Kèm</span>
                                                &nbsp;
                                                <span class="grey" ng-show="TTBV.TapTinDinhKem.length > 0">({{TTBV.TapTinDinhKem.length}})</span>
                                                <span class="grey" ng-show="TTBV.TapTinDinhKem.length == 0 || TTBV.TapTinDinhKem.length == null">(0)</span>
                                            </div>

                                            &nbsp;
                                            <ul class="attachment-list pull-left list-unstyled">
                                                <li ng-show="TTBV.TapTinDinhKem.length > 0" ng-repeat="item in TTBV.TapTinDinhKem track by $index">
                                                    <a href="~/Content/attachment/{{item.Ten}}" class="attached-file" target="_blank">
                                                        <i class="ace-icon fa fa-file-o green bigger-110"></i>
                                                        <span class="attached-name">{{item.Ten}}</span>
                                                    </a>

                                                    @*<span class="action-buttons">
                                                        <a href="#">
                                                            <i class="ace-icon fa fa-download bigger-125 blue"></i>
                                                        </a>

                                                        <a href="#">
                                                            <i class="ace-icon fa fa-trash-o bigger-125 red"></i>
                                                        </a>
                                                    </span>*@
                                                </li>

                                                <li ng-show="TTBV.TapTinDinhKem.length == 0 || TTBV.TapTinDinhKem.length == null">
                                                    <a href="#" class="attached-file">
                                                        <i class="ace-icon fa fa-times red bigger-110"></i>
                                                        <span class="attached-name">Không Có Tập Tin Đính Kèm</span>
                                                    </a>
                                                </li>
                                            </ul>

                                            <div class="attachment-images pull-right" ng-show="TTBV.HinhAnh != null">
                                                <div class="vspace-4-sm"></div>

                                                <div>
                                                    <a href="~/Content/image/{{TTBV.HinhAnh}}" target="_blank" title="Click để xem hình kích cỡ lớn hơn" data-rel="tooltip" data-placement="bottom">
                                                        <img width="160" alt="image 4" src="~/Content/image/{{TTBV.HinhAnh}}">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*File Đính Kèm*@

                                    @*DS BL*@
                                    <div ng-show="TTBV.BinhLuan.length > 0">
                                        <div class="hr hr-double"></div>
                                        <div class="message-attachment clearfix">
                                            <div class="attachment-title">
                                                <span class="blue bolder bigger-110">Danh Sách Bình Luận</span>
                                                &nbsp;
                                                <span class="grey">({{TTBV.BinhLuan.length}})</span>

                                                <div class="inline position-relative">
                                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                                        &nbsp;
                                                        <i class="ace-icon fa fa-caret-down bigger-125 middle"></i>
                                                    </a>

                                                    <ul class="dropdown-menu dropdown-lighter">
                                                        <li>
                                                            <a href="#">Tất Cả</a>
                                                        </li>

                                                        <li>
                                                            <a href="#">Đã Duyệt</a>
                                                        </li>

                                                        <li>
                                                            <a href="#">Chờ Duyệt</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="comments">
                                                <div class="itemdiv commentdiv" ng-repeat="item in TTBV.BinhLuan track by $index">
                                                    <div class="user">
                                                        <img alt="Jennifer's Avatar" src="{{item.HinhAnh}}" />
                                                    </div>

                                                    <div class="body">
                                                        <div class="name">
                                                            <a href="#">{{item.TenNguoiDung}}</a>
                                                            <i class="ace-icon fa fa-times red" ng-show="!item.HienThi"></i>
                                                            <i class="ace-icon fa fa-check green" ng-show="item.HienThi"></i>
                                                        </div>

                                                        <div class="time">
                                                            <i class="ace-icon fa fa-clock-o"></i>
                                                            <span class="blue">{{ReturnDate(TTBV.NgayTao)}}</span>
                                                        </div>

                                                        <div class="text">
                                                            {{item.NoiDung}}
                                                        </div>
                                                    </div>

                                                    <div class="tools">
                                                        <div class="action-buttons bigger-125">
                                                            <a title="Duyệt bình luận này" data-rel="tooltip" data-placement="bottom" href="#" ng-click="XuLyBinhLuan(item,true)" ng-show="!item.HienThi">
                                                                <i class="ace-icon fa fa-pencil green"></i>
                                                            </a>

                                                            <a title="Hủy duyệt bình luận này" data-rel="tooltip" data-placement="bottom" href="#" ng-click="XuLyBinhLuan(item,false)" ng-show="item.HienThi">
                                                                <i class="ace-icon fa fa-trash-o red"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hr hr8"></div>
                                        </div>
                                    </div>
                                    @*DS BL*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer no-margin-top">
                        <button class="btn btn-sm btn-danger pull-left" ng-click="XoaTin(TTBV.MaTinTuc)">
                            <i class="ace-icon fa fa-trash-o"></i>
                            Xóa
                        </button>

                        <button class="btn btn-sm btn-warning pull-left" ng-click="HuyDuyetTin(TTBV.MaTinTuc)" ng-show="TTBV.HienThi">
                            <i class="ace-icon fa fa-undo"></i>
                            Hủy Duyệt
                        </button>

                        <button class="btn btn-sm btn-success pull-left" ng-click="DuyetTin(TTBV.MaTinTuc)" ng-show="!TTBV.HienThi">
                            <i class="ace-icon fa fa-check"></i>
                            Duyệt
                        </button>

                        <a class="btn btn-sm btn-info pull-right no-margin" href="@Url.Action("SuaBaiViet","BangTin")?MaTinTuc={{TTBV.MaTinTuc}}">
                            <i class="ace-icon fa fa-edit"></i>
                            Sửa
                        </a>
                    </div>
                </div>
            </div>
        </div>
        @*Modal Chi Tiết Của BV / BL*@
    </div>
</div>
