
@{
    ViewBag.Title = "Danhsachvanbanden";
    Layout = "~/Views/Shared/_LayoutMes.cshtml";
}

<style>
    .sidebar.menu-min #panelFds > div {
        display: none;
    }

    .sidebar.menu-min #panelFds > h4 > span {
        display: none;
    }

    .message-item > div.summary {
        margin-left: 1px !important;
        /*max-width: calc(100% - 280px) !important;*/
    }

    .message-item > span.time {
        display: inline-block;
        width: 90px;
        height: 35px;
    }

    .message-star {
        margin: 2px 0px 0 0px;
    }

    .message-item > div.menurows {
        display: none;
    }
    /*.message-item > div.summary > span.text {

    }*/
    .message-item:hover > div.summary {
        /*max-width: calc(100%-330px) !important;*/
    }

    .message-item:hover > span.time {
        display: none !important;
    }

    .message-item:hover > div.menurows {
        display: block !important;
    }
</style>
<div ng-controller="VanbanCtrl">
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/Home">OAMS</a>
            </li>
            <li>Văn bản</li>
            <li class="active" style="font-weight:bold;">Danh sách văn bản</li>
        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">
            @*<form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                </form>*@
        </div><!-- /.nav-search -->
    </div>
    <div id="mescontent" class="page-content" style="padding-bottom: 1px !important;">
        <div class="row" style="height: calc(100% );">
            <div class="col-sm-12 col-xs-12" style="height: calc(100%);min-height:350px;">
                <div class="tabbable" style="height: calc(100%);">
                    <ul class="inbox-tabs nav nav-tabs padding-16 tab-size-bigger tab-space-1" style="margin-left:-10px;">
                        <li class="li-new-mail pull-right">
                            <a class="btn-new-mail" ng-click="opennewVanban()" data-toggle="tooltip" title="Thêm mới văn bản">
                                <span class="btn btn-xs" style="padding-top: 2px !important; padding-bottom: 2px !important; ">
                                    <i class="ace-icon fa fa-envelope bigger-110"></i>
                                    <span class="bigger-110">Thêm văn bản</span>
                                </span>
                            </a>
                        </li><!-- /.li-new-mail -->

                        <li class="active">
                            <a data-toggle="tab" href="#inboxtab">
                                <span>
                                    <i class="blue ace-icon fa fa-inbox bigger-130"></i>
                                    <span class="bigger-110">Văn bản đến</span>
                                </span>

                            </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#senttab">
                                <span>
                                    <i class="orange ace-icon fa fa-location-arrow bigger-130"></i>
                                    <span class="bigger-110">Văn bản đi</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content no-border no-padding" style="height: calc(100% - 35px);">
                        <div id="inboxtab" class="tab-pane in active" style="height: calc(100%);">
                            <div class="row" style="height: calc(100%); margin-top:2px;">
                                <div id="sidebar" class="sidebar responsive sidebar-toggle" style="height: calc(100%); background-color: white !important">
                                    <div id="panelFds" style="overflow-y: auto; height: calc(100% - 20px);">
                                        <h4 style="border-bottom: dotted 1px #F1F1F1; margin: 0px; padding: 6px 0px 6px 10px; font-size: 12pt;"><i class="blue ace-icon fa fa fa-tags bigger-130"></i><span class="bigger-110" style="margin-left:5px;">Phân loại</span></h4>
                                        <div style="width:99%">
                                            <span ng-if="doing_async">...loading...</span>
                                            <abn-tree tree-data="datatree" tree-control="my_tree" icon-leaf="fa fa-group" icon-expand="fa fa-plus-square-o" icon-collapse="fa fa-minus-square-o"
                                                      on-select="my_tree_handler(branch)" expand-level="1" selected-id="nodeselectID"></abn-tree>
                                        </div>

                                    </div>
                                    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                                        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
                                    </div>
                                </div>
                                <div class="main-content" style="height: calc(100%);">
                                    <div class="col-sm-12 col-xs-12" style="height: calc(100%);">
                                        <div class="row" style="height: 35px; border-bottom: dotted 1px #F1F1F1;">
                                            <div class="pull-left">

                                                <div class="btn-group " style="margin-top: 2px; margin-bottom: 0px;">
                                                    <input type="checkbox" style="width:18px;height:18px;margin-left:8px;" />
                                                </div>
                                                <div class="btn-group" style="margin-top: 2px; margin-bottom: 0px;">
                                                    <button class="btn btn-sm btn-info btn-white"><i class="fa fa-1x fa-filter bigger-130 icon-only"></i></button>

                                                    <button data-toggle="dropdown" class="btn btn-sm btn-info btn-white dropdown-toggle" aria-expanded="false">
                                                        <span class="ace-icon fa fa-caret-down bigger-130  icon-only"></span>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-info dropdown-menu-right">
                                                        <li>
                                                            <a href="#">Action</a>
                                                        </li>

                                                        <li>
                                                            <a href="#">Another action</a>
                                                        </li>

                                                        <li>
                                                            <a href="#">Something else here</a>
                                                        </li>

                                                        <li class="divider"></li>

                                                        <li>
                                                            <a href="#">Separated link</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                                <ul class="pagination" style="margin-top: 2px; margin-bottom: 0px; float: left;">
                                                    <li><select style=" height: 29.6px;"><option>1</option><option>2</option></select></li>
                                                </ul>
                                                <ul style="margin-top:2px;margin-bottom:0px;" uib-pagination previous-text="Trước" next-text="Sau" ng-change="pageChanged()" total-items="TotalItems" ng-model="CurrentPage" items-per-page="perPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>

                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row" style="overflow-y: auto; height: calc(100% - 35px);">
                                            <div class="message-list" id="message-list">
                                                <div class="message-item message-unread">
                                                    <label class="inline">
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"></span>
                                                    </label>

                                                    <i class="message-star ace-icon fa fa-star orange2"></i>
                                                    <span class="sender" title="Alex John Red Smith">Alex John Red Smith </span>
                                                    <span class="time">1:33 pm</span>

                                                    <span class="summary">
                                                        <span class="text">
                                                            Click to open this message
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="message-item message-unread">
                                                    <div class="menurows pull-right btn-group btn-corner" style="font-size:9pt;">
                                                        <button data-toggle="tooltip" title="Hello Tooltip!" ng-click="newdata()" ng-disabled="actionbp" class="btn btn-xs btn-primary" style="font-size:9pt;"><i class="fa fa-file icon-only"></i> </button>
                                                        <button ng-click="editdata()" ng-disabled="actionbp" class="btn btn-xs btn-info" style="font-size:9pt;"><i class="fa fa-edit fa-x icon-only"></i> </button>
                                                        <button ng-click="editdata()" ng-disabled="actionbp" class="btn btn-xs btn-info" style="font-size:9pt;"><i class="fa fa-edit fa-x icon-only"></i> </button>
                                                        <button ng-click="editdata()" ng-disabled="actionbp" class="btn btn-xs btn-info" style="font-size:9pt;"><i class="fa fa-edit fa-x icon-only"></i> </button>
                                                    </div>
                                                    <label class="inline">
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"></span>
                                                    </label>

                                                    <i class="message-star ace-icon fa fa-star-o light-grey"></i>
                                                    <i class="message-star ace-icon fa fa-info-circle light-grey" style="color: #FEB902 !important; margin-left: 1px; margin-right: 1px;"></i>
                                                    <span class="sender" title="John Doe">
                                                        John Doe
                                                        <span class="light-grey">(4)</span>
                                                    </span>
                                                    <span class="time">12/12/2017<br />7:11pm</span>

                                                    @*<span class="attachment">
                                                            <i class="ace-icon fa fa-paperclip"></i>
                                                        </span>*@

                                                    <div class="summary">
                                                        @*<span class="badge badge-pink mail-tag"></span>*@
                                                        <span class="text">
                                                            Ông Trần Quốc Vượng, ủy viên Bộ Chính trị, Thường trực Ban Bí thư, Phó trưởng Ban Chỉ đạo chủ trì cuộc họp, thảo luận, cho ý kiến đối với một số vụ án, vụ việc thuộc diện Ban Chỉ đạo theo dõi, chỉ đạo từ sau phiên họp thứ 15 đến nay.
                                                        </span>
                                                        <div class="btn-group " style="font-size: 9pt; display:block; ">
                                                            <a data-toggle="tooltip" title="Hello Tooltip!" ng-click="newdata()" ng-disabled="actionbp" class="badge" style="font-size: 9pt; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><i class="fa fa-file-pdf-o"></i> Thành viên hội đồng</a>
                                                            <a data-toggle="tooltip" title="Hello Tooltip!" ng-click="newdata()" ng-disabled="actionbp" class="badge" style="font-size: 9pt; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><i class="fa fa-file-word-o"></i> Thành viên hội đồng</a>
                                                            <a data-toggle="tooltip" title="Hello Tooltip!" ng-click="newdata()" ng-disabled="actionbp" class="badge" style="font-size: 9pt; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><i class="fa fa-file-word-o"></i> Thành viên hội đồng</a>
                                                            <a data-toggle="tooltip" title="Hello Tooltip!" ng-click="newdata()" ng-disabled="actionbp" class="badge" style="font-size: 9pt; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><i class="fa fa-file-word-o"></i> Thành viên hội đồng</a>
                                                            <span class="light-grey">(4)</span>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="message-item">
                                                    <label class="inline">
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"></span>
                                                    </label>

                                                    <i class="message-star ace-icon fa fa-star-o light-grey"></i>
                                                    <span class="sender" title="Philip Markov">Philip Markov </span>
                                                    <span class="time">10:15 am</span>

                                                    <span class="attachment">
                                                        <i class="ace-icon fa fa-paperclip"></i>
                                                    </span>

                                                    <span class="summary">
                                                        <span class="message-flags">
                                                            <i class="ace-icon fa fa-reply light-grey"></i>
                                                        </span>
                                                        <span class="text">
                                                            Photo booth beard raw denim letterpress vegan
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="message-item">
                                                    <label class="inline">
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"></span>
                                                    </label>

                                                    <i class="message-star ace-icon fa fa-star orange2"></i>
                                                    <span class="sender" title="Sabrina">Sabrina </span>
                                                    <span class="time">Yesterday</span>

                                                    <span class="summary">
                                                        <span class="text">
                                                            Nullam quis risus eget urna mollis ornare
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="message-item">
                                                    <label class="inline">
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"></span>
                                                    </label>

                                                    <i class="message-star ace-icon fa fa-star-o light-grey"></i>
                                                    <span class="sender" title="Philip Markov">Philip Markov </span>
                                                    <span class="time">Yesterday</span>

                                                    <span class="attachment">
                                                        <i class="ace-icon fa fa-paperclip"></i>
                                                    </span>

                                                    <span class="summary">
                                                        <span class="badge badge-success mail-tag"></span>
                                                        <span class="text">
                                                            Vestibulum id ligula porta felis euismod
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="message-item">
                                                    <label class="inline">
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"></span>
                                                    </label>

                                                    <i class="message-star ace-icon fa fa-star-o light-grey"></i>
                                                    <span class="sender" title="Doctor Gomenz">Doctor Gomenz </span>
                                                    <span class="time">April 5</span>

                                                    <span class="summary">
                                                        <span class="text">
                                                            Vim te vivendo convenire, summo fuisset
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="message-item">
                                                    <label class="inline">
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"></span>
                                                    </label>

                                                    <i class="message-star ace-icon fa fa-star-o light-grey"></i>
                                                    <span class="sender" title="Robin Hood">Robin Hood </span>
                                                    <span class="time">April 4</span>

                                                    <span class="summary">
                                                        <span class="message-flags">
                                                            <i class="ace-icon fa fa-reply light-grey"></i>
                                                        </span>
                                                        <span class="text">
                                                            No eos veniam equidem mentitum, his porro
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="message-item">
                                                    <label class="inline">
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"></span>
                                                    </label>

                                                    <i class="message-star ace-icon fa fa-star-o light-grey"></i>
                                                    <span class="sender" title="Google Inc">Google Inc </span>
                                                    <span class="time">April 3</span>

                                                    <span class="summary">
                                                        <span class="badge badge-grey mail-tag"></span>
                                                        <span class="text">
                                                            Convallis facilisis euismod urna sodales
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="message-item">
                                                    <label class="inline">
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"></span>
                                                    </label>

                                                    <i class="message-star ace-icon fa fa-star-o light-grey"></i>
                                                    <span class="sender" title="Shrek">Shrek </span>
                                                    <span class="time">March 28</span>

                                                    <span class="attachment">
                                                        <i class="ace-icon fa fa-paperclip"></i>
                                                    </span>

                                                    <span class="summary">
                                                        <span class="message-flags">
                                                            <i class="ace-icon fa fa-flag fa-flip-horizontal light-grey"></i>
                                                        </span>
                                                        <span class="text">
                                                            Photo booth beard raw denim letterpress vegan messenger
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="message-item">
                                                    <label class="inline">
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"></span>
                                                    </label>

                                                    <i class="message-star ace-icon fa fa-star-o light-grey"></i>
                                                    <span class="sender" title="Yahoo!">Yahoo! </span>
                                                    <span class="time">March 27</span>

                                                    <span class="summary">
                                                        <span class="message-flags">
                                                            <i class="ace-icon fa fa-mail-forward light-grey"></i>
                                                        </span>
                                                        <span class="text">
                                                            Tofu biodiesel williamsburg marfa, four loko mcsweeney
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="message-item">
                                                    <label class="inline">
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"></span>
                                                    </label>

                                                    <i class="message-star ace-icon fa fa-star-o light-grey"></i>
                                                    <span class="sender" title="Robin Hood">Robin Hood </span>
                                                    <span class="time">April 4</span>

                                                    <span class="summary">
                                                        <span class="message-flags">
                                                            <i class="ace-icon fa fa-reply light-grey"></i>
                                                        </span>
                                                        <span class="text">
                                                            No eos veniam equidem mentitum, his porro
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="message-item">
                                                    <label class="inline">
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"></span>
                                                    </label>

                                                    <i class="message-star ace-icon fa fa-star-o light-grey"></i>
                                                    <span class="sender" title="Google Inc">Google Inc </span>
                                                    <span class="time">April 3</span>

                                                    <span class="summary">
                                                        <span class="badge badge-grey mail-tag"></span>
                                                        <span class="text">
                                                            Convallis facilisis euismod urna sodales
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="message-item">
                                                    <label class="inline">
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"></span>
                                                    </label>

                                                    <i class="message-star ace-icon fa fa-star-o light-grey"></i>
                                                    <span class="sender" title="Shrek">Shrek </span>
                                                    <span class="time">March 28</span>

                                                    <span class="attachment">
                                                        <i class="ace-icon fa fa-paperclip"></i>
                                                    </span>

                                                    <span class="summary">
                                                        <span class="message-flags">
                                                            <i class="ace-icon fa fa-flag fa-flip-horizontal light-grey"></i>
                                                        </span>
                                                        <span class="text">
                                                            Photo booth beard raw denim letterpress vegan messenger
                                                        </span>
                                                    </span>
                                                </div>

                                                <div class="message-item">
                                                    <label class="inline">
                                                        <input type="checkbox" class="ace">
                                                        <span class="lbl"></span>
                                                    </label>

                                                    <i class="message-star ace-icon fa fa-star-o light-grey"></i>
                                                    <span class="sender" title="Yahoo!">Yahoo! </span>
                                                    <span class="time">March 27</span>

                                                    <span class="summary">
                                                        <span class="message-flags">
                                                            <i class="ace-icon fa fa-mail-forward light-grey"></i>
                                                        </span>
                                                        <span class="text">
                                                            Tofu biodiesel williamsburg marfa, four loko mcsweeney
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            @*<table class="table table-striped table-hover dataTable no-footer" style="margin-bottom:0px;width:100%">
                                                    <tbody>
                                                        <tr ng-repeat="irow in dataInnit" ng-click="selectrows(irow)" class="{{ irow.USERNAME === idselect.USERNAME ?'selected':''}}">
                                                            <td style="width: 64px; text-align: center;padding:8px 0px 8px 4px;">
                                                                <label class="inline">
                                                                    <input type="checkbox" class="ace">
                                                                    <span class="lbl"></span>
                                                                </label>
                                                                <i class="message-star ace-icon fa fa-star-o light-grey" style="margin-left: 1px; margin-right: 1px;"></i>
                                                                <i class="message-star ace-icon fa fa-info-circle light-grey" style="color: #FEB902 !important; margin-left: 1px; margin-right: 1px;"></i>
                                                            </td>
                                                            <td style="width: 150px; text-align: left">
                                                                <p style="width: 50px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" ng-bind="irow.HOLOT + ' ' + irow.TEN"></p>
                                                            </td>
                                                            <td style="width: 50px; text-align: left">
                                                                <p style="width: 50px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" ng-bind="irow.HOLOT + ' ' + irow.TEN"></p>
                                                            </td>
                                                            <td class="">
                                                                <div class="menurows pull-right btn-group btn-corner" style="font-size:9pt;">
                                                                    <button data-toggle="tooltip" title="Hello Tooltip!" ng-click="newdata()" ng-disabled="actionbp" class="btn btn-xs btn-primary" style="font-size:9pt;"><i class="fa fa-file icon-only"></i> </button>
                                                                    <button ng-click="editdata()" ng-disabled="actionbp" class="btn btn-xs btn-info" style="font-size:9pt;"><i class="fa fa-edit fa-x icon-only"></i> </button>
                                                                </div>
                                                                {{irow.EMAIL}}
                                                                <br />
                                                                <div class="btn-group " style="font-size:9pt;">
                                                                    <a data-toggle="tooltip" title="Hello Tooltip!" ng-click="newdata()" ng-disabled="actionbp" class="badge" style="font-size: 9pt; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><i class="fa fa-file-pdf-o"></i> Thành viên hội đồng</a>
                                                                    <a data-toggle="tooltip" title="Hello Tooltip!" ng-click="newdata()" ng-disabled="actionbp" class="badge" style="font-size: 9pt; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><i class="fa fa-file-word-o"></i> Thành viên hội đồng</a>
                                                                </div>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>*@
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                        <div id="senttab" class="tab-pane" style="height: calc(100%);">
                            <div class="message-container" style="height: calc(100%);">
                                <div class="row" style="overflow-y: auto; height: calc(100% - 30px);">

                                </div>
                                <div class="row" style="height:25px;">
                                    <div class="col-xs-12">
                                        <ul class="pagination" style="margin-top: 2px; margin-bottom: 0px; float:left; ">
                                            <li><select><option>1</option><option>2</option></select></li>
                                        </ul>
                                        <ul style="margin-top:2px;margin-bottom:0px;" uib-pagination previous-text="Trước" next-text="Sau" ng-change="pageChanged()" total-items="TotalItems" ng-model="CurrentPage" items-per-page="perPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.tab-content -->
                </div>

            </div>
        </div>

    </div>

</div>
<script type="text/ng-template" id="vanbandenEdit.html">
    @Html.Partial("~/Views/Vanban/Themvanbanden.cshtml")
</script>
@Html.IncludeVersionedJs("~/MyScript/vanban/vanbandenCtrl.js")
@Html.IncludeVersionedJs("~/MyScript/vanban/VanbanCtrl.js")

