@{
    Layout = null;
}

<style>
    .my-drop-zone {
        border: dotted 3px lightgray;
    }

    .nv-file-over {
        border: dotted 3px red;
    }
    /* Default class applied to drop zones on over */
    .another-file-over-class {
        border: dotted 3px green;
    }

    .form-horizontal .control-label {
        text-align: left !important;
    }

    .some-pdf-container {
        width: 100%;
        height: 100%;
        background-color: #d7d4d4 !important;
    }

    .select2 > .select2-choice.ui-select-match {
        /* Because of the inclusion of Bootstrap */
        height: 29px;
    }

    .selectize-control > .selectize-dropdown {
        top: 36px;
    }
    /* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
    .select-box {
        background: #fff;
        position: relative;
        z-index: 1;
    }

    .alert-info.positioned {
        margin-top: 1em;
        position: relative;
        z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
    }

    .list-group-item:hover {
        color: #337ab7;
        text-shadow: 0 0 1em #337ab7;
        cursor: pointer;
    }
</style>

<link rel="stylesheet" href="~/Scripts/pdf.js-viewer/viewer.css">
<form class="form-horizontal form-label-left" style="height: calc(100%) !important; " ng-valid name="formedit" novalidate>
    <div class="modal-header">
        <h3 style="font-size: 16px;" class="modal-title" id="modal-title">{{Title}} <a class="pull-right" href="#" ng-click="$ctrl.cancel()"><i class="fa fa-close"></i></a></h3>
    </div>
    <div class="modal-body" id="modal-body" style="height: calc(100% - 32px) !important; padding: 4px 10px;">
        <div class="row" style="height:calc(100%);">
            @*Thêm mới*@
            <div class="col-md-6 col-sm-6 col-xs-12" style="height:calc(100%); overflow-y:auto;" ng-show="!TrangThai">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">File đính kèm:</label>
                    <div class="col-md-10 col-sm-10 col-xs-10" nv-file-drop="" uploader="uploader" filters="docFilter1">
                        <div class="col-md-12">
                            <input type="file" nv-file-select="" uploader="uploader" />
                        </div>
                        <div class="col-md-12">
                            <table class="table">
                                <tbody>
                                    <tr ng-repeat="item in uploader.queue track by $index">
                                        <td>
                                            <strong>
                                                {{ item.file.name }}
                                            </strong>
                                        </td>
                                        <td style="width:70px;" ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td class="text-center;" style="width:50px;">
                                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                        </td>
                                        <td style="width:50px;">
                                            <button type="button" class="btn btn-xs btn-info" ng-click="getdatafilePDF(item.file.name)">
                                                <span class="glyphicon glyphicon-eye-open"></span> Xem
                                            </button>
                                        </td>

                                        <td style="width:50px;">
                                            <button type="button" class="btn btn-xs btn-danger" ng-click="removeFile(item,$index)">
                                                <span class="glyphicon glyphicon-trash"></span> Xóa
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <div>
                                    Tiến trình:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Mã định danh:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <input class="form-control" placeholder="..." ng-model="$ctrl.datasumitformedit.OrganID" />
                    </div>
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Năm hình thành:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <input class="form-control" placeholder="..." ng-model="$ctrl.datasumitformedit.FileCatalog" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Số, ký hiệu:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <input class="form-control" placeholder="..." ng-model="$ctrl.datasumitformedit.FileNotation" />
                    </div>

                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Số thứ tự:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <input class="form-control" type="number" placeholder="..." ng-model="$ctrl.datasumitformedit.DocOrdinal" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Tên loại:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <select class="form-control" ng-model="TYPENAME" ng-options="item as item.TENLOAI for item in $ctrl.Dataloaivanban track by item.MALOAI"></select>
                    </div>

                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Số văn bản:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <input class="form-control" placeholder="..." ng-model="$ctrl.datasumitformedit.CodeNumber" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Ký hiệu:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <input class="form-control" placeholder="..." ng-model="$ctrl.datasumitformedit.CodeNotation" />
                    </div>

                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Ngày đến:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-click="ctrol.opened = true" ng-disabled="ctrol.disable" ng-model="$ctrl.datasumitformedit.IssuedDate" uib-datepicker-popup="dd/MM/yyyy" is-open="ctrol.opened" close-text="Close" readonly />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="ctrol.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Cơ quan ban hành:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        @*<input class="form-control" placeholder="..." ng-model="$ctrl.datasumitformedit.OrganName" />*@
                        @*<input type="text" class="form-control" placeholder="..." name="country" id="country" ng-model="country" ng-keyup="complete(country)" />
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="countrydata in filterCountry" ng-click="fillTextbox(countrydata)">{{countrydata}}</li>
                        </ul>*@
                        <select ng-options="item as item.VALUENAME for item in DsDanhMuc track by item.ID"  
                                ng-model="OrganName"
                                class="form-control">
                       </select>
                    </div>

                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Ngôn ngữ:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <select class="form-control" ng-model="LANGUAGE" ng-options="item as item.TEN for item in $ctrl.Datangonngu track by item.ID"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Trích yếu:</label>
                    <div class="col-md-10 col-sm-10 col-xs-9">
                        <textarea style="height:70px;" class="form-control" placeholder="Trích yếu" ng-model="$ctrl.datasumitformedit.Subject" name="trichyeu" required></textarea>
                        <p ng-show="formedit.trichyeu.$invalid" class="text-danger"><i>Bạn chưa nhập trích yếu</i></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Ghi chú:</label>
                    <div class="col-md-10 col-sm-10 col-xs-9">
                        <textarea style="height:40px;" class="form-control" placeholder="Ghi chú" ng-model="$ctrl.datasumitformedit.Description"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Người ký:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <input class="form-control" placeholder="..." ng-model="$ctrl.datasumitformedit.Fullname" />
                    </div>

                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Chức vụ:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <input class="form-control" placeholder="..." ng-model="$ctrl.datasumitformedit.Position" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Mức độ khẩn:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <select class="form-control" ng-model="PRIORITY" ng-options="item as item.TEN for item in $ctrl.Datamucdo track by item.ID"></select>
                    </div>

                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Số lượng phát hành:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <input class="form-control" type="number" placeholder="..." ng-model="$ctrl.datasumitformedit.IssuedAmount" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Sổ văn bản:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <select class="form-control" ng-model="SOVANBANID" ng-options="item as item.TENSO for item in $ctrl.Datasovanban track by item.ID"></select>
                    </div>

                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Hạn trả lời:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-click="ctrol.openedd = true" ng-disabled="ctrol.disableb" ng-model=" $ctrl.datasumitformedit.DueDate" uib-datepicker-popup="dd/MM/yyyy" is-open="ctrol.openedd" close-text="Close" readonly/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="ctrol.openedd = true"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12">
                    <div class="btn-group pull-right" style="margin-top:10px;font-size:9pt;">
                        <button ng-click="$ctrl.sumitformedit()"
                                type="submit"
                                class="btn btn-xs btn-primary"
                                style="font-size:9pt;"
                                ng-disabled="formedit.$invalid">
                            <i class="fa fa-save"></i> Ghi nhận
                        </button>
                        @*<button class="btn btn-xs btn-info" style="font-size:9pt;"><i class="fa fa-save"></i> Ghi nhận và thêm mới</button>*@
                        <button ng-click="$ctrl.cancel()" class="btn btn-xs btn-warning" style="font-size:9pt;"><i class="fa fa-sign-out"></i> Thoát</button>
                    </div>
                </div>
            </div>
            @*Thêm mới*@

            @*Xem chi tiết*@
            <div class="col-md-6 col-sm-6 col-xs-12" style="height:calc(100%); overflow-y:auto;" ng-show="TrangThai">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">File đính kèm:</label>
                    <div class="col-md-10 col-sm-10 col-xs-10" nv-file-drop="" uploader="uploader" filters="docFilter1">
                        <div class="col-md-12">
                            <table class="table">
                                <tbody>
                                    <tr ng-repeat="item in objVB.FileDinhKem track by $index">
                                        <td>
                                            <strong>
                                                {{ item.TENFILE }}
                                            </strong>
                                        </td>
                                        <td style="width:70px;" ng-show="uploader.isHTML5" nowrap>{{ item.SIZEFILE/1024/1024|number:2 }} MB</td>
                                        <td class="text-center;" style="width:50px;">
                                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                        </td>
                                        <td style="width:50px;">
                                            <button type="button" class="btn btn-xs btn-info" ng-click="getdatafilePDF(item.TENFILE)">
                                                <span class="glyphicon glyphicon-eye-open"></span> Xem
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Mã định danh:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <span class="form-control">{{objVB.OrganId}}</span>
                    </div>
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Năm hình thành:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <span class="form-control">{{objVB.FileCatalog}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Số, ký hiệu:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <span class="form-control">{{objVB.FileNotation}}</span>
                    </div>

                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Số thứ tự:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <span class="form-control">{{objVB.DocOrdinal}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Tên loại:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <span class="form-control">{{objVB.TypeName}}</span>
                    </div>

                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Số văn bản:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <span class="form-control">{{objVB.CodeNumber}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Ký hiệu:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <span class="form-control">{{objVB.CodeNotation}}</span>
                    </div>

                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Ngày đến:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <span class="form-control">{{objVB.IssuedDate | date:"dd/MM/yyyy"}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Cơ quan ban hành:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <span class="form-control">{{objVB.OrganName}}</span>
                    </div>

                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Ngôn ngữ:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <span class="form-control">{{objVB.Language}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Trích yếu:</label>
                    <div class="col-md-10 col-sm-10 col-xs-9">
                        <span class="form-control">{{objVB.Subject}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Ghi chú:</label>
                    <div class="col-md-10 col-sm-10 col-xs-9">
                        <span class="form-control">{{objVB.Description}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Người ký:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <span class="form-control">{{objVB.Fullname}}</span>
                    </div>

                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Chức vụ:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <span class="form-control">{{objVB.Position}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Mức độ khẩn:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <span class="form-control">{{objVB.Priority}}</span>
                    </div>

                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Số lượng phát hành:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <span class="form-control">{{objVB.IssuedAmount}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Sổ văn bản:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <span class="form-control">{{objVB.SoVanBanID}}</span>
                    </div>

                    <label class="control-label col-md-2 col-sm-2 col-xs-3">Hạn trả lời:</label>
                    <div class="col-md-4 col-sm-4 col-xs-9">
                        <span class="form-control">{{objVB.DueDate | date:"dd/MM/yyyy"}}</span>
                    </div>
                </div>

                @*Gửi vb đến*@
                <div>
                    <h4 class="header green">Thành viên tham gia</h4>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-3">Người nhận văn bản:</label>
                        <div class="col-md-10 col-sm-10 col-xs-9">
                            <ui-select multiple ng-model="multipleDemo.selectedPeople" theme="bootstrap" ng-disabled="disable" sortable="true" close-on-select="false" on-remove="removed($item, $model)">
                                <ui-select-match placeholder="Chọn người nhận văn bản...">{{$item.HOLOT + ' ' +  $item.TEN}}</ui-select-match>
                                <ui-select-choices repeat="person in people | propsFilter: {HOLOT: $select.search, TEN: $select.search, BOPHAN : $select.search}">
                                    <div ng-bind-html="person.HOLOT + ' ' +  person.TEN | highlight: $select.search"></div>
                                    <small>
                                        Bộ Phận: <span ng-bind-html="''+person.BOPHAN | highlight: $select.search"></span> ,
                                        Chức Vụ: <span ng-bind-html="''+person.CHUCVU"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12">
                    <div class="btn-group pull-right" style="margin-top:10px;font-size:9pt;">
                        <button class="btn btn-xs btn-info" style="font-size:9pt;" ng-click="GuiVanBan()" ng-disabled="roleName == 'Docgia'"><i class="fa fa-save"></i> Gửi</button>
                        <button ng-click="$ctrl.cancel()" class="btn btn-xs btn-warning" style="font-size:9pt;"><i class="fa fa-sign-out"></i> Thoát</button>
                    </div>
                </div>
                @*/ Gửi vb đến*@

                @*Số người đã xem vb*@
                <div>
                    <h4 class="header green">Số Người Đã Xem Văn Bản Này</h4>
                    <ul class="list-unstyled spaced2">
                        <li ng-repeat="item in objVB.NguoiThamGia" ng-show="item.DaXem == 1">
                            <i class="ace-icon fa fa-circle green"></i>
                            Họ Tên : {{item.HOLOT + ' ' + item.TEN}} - Đơn Vị : {{item.BOPHAN}} - Chức Vụ : {{item.CHUCVU}} - Ngày Xem : {{item.NgayXem | date :'dd/MM/yyyy HH:mm:ss'}}
                        </li>
                    </ul>
                </div>
                @*Số người đã xem vb*@
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12" style="height:calc(100%); border: solid 1px #808080;">
                @*<iframe src=""></iframe>*@
                <div class="some-pdf-container">
                    <pdfjs-viewer data="$ctrl.pdf.data" print="false" download="false" open="false" pageview="$ctrl.pageview" update-fn="$ctrl.onPageLoad"></pdfjs-viewer>
                </div>
            </div>
        </div>
        @*/ Xem chi tiết*@
    </div>
    @*<div class="modal-footer">
            <button class="btn btn-xs btn-primary" type="submit" ng-click="$ctrl.ok1()"><i class="fa fa-send" title="Ghi nhận và thêm mới"></i> Gửi</button>
            <button class="btn btn-xs btn-warning" type="button" ng-click="$ctrl.cancel()"><i class="fa fa-sign-out" title=" Thoát"></i> Thoát</button>
        </div>*@
</form>
