
@{
    Layout = "~/Views/Shared/_LayoutMes.cshtml";
}
<div ng-controller="bnlegridCtrl">
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/Home">OAMS</a>
            </li>
            <li class="active">{{formname}}</li>
        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div><!-- /.nav-search -->
    </div>
    <div id="mescontent" class="page-content">
        <div class="page-header" style="padding-top:2px;padding-bottom:2px !important;">
            <div class="btn-group" style="margin-top:-10px;font-size:9pt;">
                <button ng-click="newdata()" class="btn btn-xs btn-primary" style="font-size:9pt;"><i class="fa fa-file"></i> Thêm mới</button>
                <button ng-click="openedit()" ng-disabled="action" class="btn btn-xs btn-info" style="font-size:9pt;"><i class="fa fa-edit"></i> Sửa</button>
            </div>
            <div class="btn-group" style="margin-top:-10px;font-size:9pt;">

                <button ng-click="delete()" ng-disabled="action" class="btn btn-xs btn-danger" style="font-size:9pt;"><i class="fa fa-remove"></i> Xóa</button>
            </div>
        </div>
        <!-- /.page-header -->
        <div class="row" style="overflow-y: auto; height: calc(100% - 25px);">
            <div class="col-xs-12">
                <table class="table table-striped table-condensed table-hover dataTable no-footer" style="margin-bottom:0px;">
                    <thead>
                        <tr>
                            <th ng-repeat="icol in datacols" style="text-align:center;width: {{icol.width}}"> {{icol.label}}</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr ng-repeat="irow in datarows" ng-click="selectitem(irow)" class="{{ irow.keyrow == itemselect ?'selected':''}}">
                            <td ng-repeat="item in irow.items" style="{{item.viewgrid}}">{{item.values}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="height:25px;">
            <div class="col-xs-12">
                <ul style="margin-top:2px;margin-bottom:0px;" uib-pagination previous-text="Trước" next-text="Sau" ng-change="pageChanged()" total-items="TotalItems" ng-model="CurrentPage" items-per-page="perPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
            </div>
        </div>

    </div>
    <script type="text/ng-template" id="editorItem.html">
        <form class="form-horizontal form-label-left" ng-submit="$ctrl.sumitformedit()" ng-valid name="formedit">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">{{$ctrl.title }} <a class="pull-right" href="#" ng-click="$ctrl.cancel()"><i class="fa fa-close"></i></a></h3>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="row">
                    <div ng-repeat="grItem in $ctrl.pControl">
                        <div class="form-group" ng-if="grItem.viewed === '0' && $ctrl.pControl[$index + 1].viewed === '1'" ng-init="group = $ctrl.pControl.slice($index, $index + 2); ">
                            <div ng-repeat="ctrol in group">
                                <div ng-switch="ctrol.ctype">
                                    <div ng-switch-when="text">
                                        <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                        <div class="{{ctrol.width}}">
                                            <input ng-model="ctrol.values" ng-disabled="ctrol.disable" type="text" class="form-control" ng-required="{{ctrol.required}}">
                                        </div>
                                    </div>
                                    <div ng-switch-when="number">
                                        <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                        <div class="{{ctrol.width}}">
                                            <input ng-model="ctrol.values" ng-disabled="ctrol.disable" type="number" class="form-control" ng-required="{{ctrol.required}}">
                                        </div>
                                    </div>
                                    <div ng-switch-when="select">
                                        <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                        <div class="{{ctrol.width}}">
                                            <select class="form-control" ng-disabled="ctrol.disable" ng-model="ctrol.values" ng-required="{{ctrol.required}}">
                                                <option ng-repeat="item in ctrol.dictionary" ng-required="{{ctrol.required}}">{{item.VALUENAME}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div ng-switch-when="calendar">
                                        <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                        <div class="{{ctrol.width}}">
                                            <p class="input-group">
                                                <input type="text" class="form-control" ng-disabled="ctrol.disable" ng-model="ctrol.values" ng-required="{{ctrol.required}}" uib-datepicker-popup="dd/MM/yyyy" is-open="ctrol.opened" close-text="Close" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-sm btn-primary" ng-click="ctrol.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                            @*<input ng-model="ctrol.values" ng-disabled="ctrol.disable" type="date" class="form-control" ng-required="{{ctrol.required}}">*@
                                        </div>

                                    </div>
                                    <div ng-switch-when="textarea">
                                        <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                        <div class="{{ctrol.width}}">
                                            <textarea ng-model="ctrol.values" ng-disabled="ctrol.disable" ng-required="{{ctrol.required}}" class="resizable_textarea form-control"></textarea>
                                        </div>
                                    </div>
                                    <div ng-switch-when="autocomplete">
                                        <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                        <div class="{{ctrol.width}}">
                                            <input type="text" ng-model="ctrol.values" ng-disabled="ctrol.disable" ng-required="{{ctrol.required}}" ng-model-options="modelOptions"
                                                   uib-typeahead="state.VALUENAME for state in  ctrol.dictionary | filter:{'VALUENAME':$viewValue}| limitTo:8" class="form-control" />
                                        </div>
                                    </div>
                                    <div ng-switch-when="check">
                                        <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                        <div class="{{ctrol.width}}">
                                            <input type="checkbox" ng-model="ctrol.values" ng-disabled="ctrol.disable" ng-required="{{ctrol.required}}" class="form-control" style="height:20px;" />
                                        </div>
                                    </div>
                                    <div ng-switch-when="foreign">
                                        <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                        <div class="{{ctrol.width}}">
                                            <select class="form-control" ng-disabled="ctrol.disable" ng-model="ctrol.values" ng-required="{{ctrol.required}}">
                                                <option ng-repeat="item in ctrol.dictionary" ng-required="{{ctrol.required}}" value="{{item.CODE}}">{{item.VALUENAME}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="grItem.viewed === '0' && $ctrl.pControl[$index + 1].viewed === '0'" ng-init="ctrol = grItem;">
                            <div ng-switch="ctrol.ctype">
                                <div ng-switch-when="text">
                                    <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                    <div class="{{ctrol.width}}">
                                        <input ng-model="ctrol.values" type="text" ng-disabled="ctrol.disable" ng-required="{{ctrol.required}}" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div ng-switch-when="number">
                                    <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?"(*)": "" }}:</label>
                                    <div class="{{ctrol.width}}">
                                        <input ng-model="ctrol.values" type="number" ng-disabled="ctrol.disable" class="form-control" ng-required="{{ctrol.required}}">
                                    </div>
                                </div>
                                <div ng-switch-when="select">
                                    <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                    <div class="{{ctrol.width}}">
                                        <select class="form-control" ng-disabled="ctrol.disable" ng-model="ctrol.values" ng-required="{{ctrol.required}}">
                                            <option ng-repeat="item in ctrol.dictionary" ng-required="{{ctrol.required}}">{{item.VALUENAME}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div ng-switch-when="calendar">
                                    <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                    <div class="{{ctrol.width}} ">
                                        <p class="input-group">
                                            <input type="text" class="form-control" ng-disabled="ctrol.disable" ng-model="ctrol.values" ng-required="{{ctrol.required}}" uib-datepicker-popup="dd/MM/yyyy" is-open="ctrol.opened" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-sm  btn-primary" ng-click="ctrol.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                        @*<p class="input-group">
                                                <input ng-model="ctrol.values" type="date" ng-disabled="ctrol.disable" class="form-control" ng-required="{{ctrol.required}}">
                                            </p>*@
                                    </div>
                                </div>
                                <div ng-switch-when="textarea">
                                    <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                    <div class="{{ctrol.width}}">
                                        <textarea ng-model="ctrol.values" ng-disabled="ctrol.disable" class="resizable_textarea form-control" ng-required="{{ctrol.required}}"></textarea>
                                    </div>
                                </div>
                                <div ng-switch-when="autocomplete">
                                    <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                    <div class="{{ctrol.width}}">
                                        <input type="text" ng-model="ctrol.values" ng-disabled="ctrol.disable" ng-required="{{ctrol.required}}" ng-model-options="modelOptions"
                                               uib-typeahead="state.VALUENAME for state in  ctrol.dictionary | filter:{'VALUENAME':$viewValue}| limitTo:8" class="form-control" />
                                    </div>
                                </div>
                                <div ng-switch-when="check">
                                    <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                    <div class="{{ctrol.width}}">
                                        <input type="checkbox" ng-model="ctrol.values" ng-disabled="ctrol.disable" ng-required="{{ctrol.required}}" class="form-control" style="height:20px;" />
                                    </div>
                                </div>
                                <div ng-switch-when="foreign">
                                    <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                    <div class="{{ctrol.width}}">
                                        <select class="form-control" ng-disabled="ctrol.disable" ng-model="ctrol.values" ng-required="{{ctrol.required}}">
                                            <option ng-repeat="item in ctrol.dictionary" ng-required="{{ctrol.required}}" value="{{item.CODE}}">{{item.VALUENAME}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="grItem.viewed === '0' && $index === ($ctrl.pControl.length-1)" ng-init="ctrol = grItem;">
                            <div ng-switch="ctrol.ctype">
                                <div ng-switch-when="text">
                                    <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                    <div class="{{ctrol.width}}">
                                        <input ng-model="ctrol.values" type="text" ng-disabled="ctrol.disable" ng-required="{{ctrol.required}}" class="form-control">
                                    </div>
                                </div>
                                <div ng-switch-when="number">
                                    <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                    <div class="{{ctrol.width}}">
                                        <input ng-model="ctrol.values" type="number" ng-disabled="ctrol.disable" class="form-control" ng-required="{{ctrol.required}}">
                                    </div>
                                </div>
                                <div ng-switch-when="select">
                                    <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                    <div class="{{ctrol.width}}">
                                        <select class="form-control" ng-disabled="ctrol.disable" ng-model="ctrol.values" ng-required="{{ctrol.required}}">
                                            <option ng-repeat="item in ctrol.dictionary" ng-required="{{ctrol.required}}">{{item.VALUENAME}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div ng-switch-when="calendar">
                                    <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                    <div class="{{ctrol.width}}">
                                        <p class="input-group">
                                            <input type="text" class="form-control" ng-disabled="ctrol.disable" ng-model="ctrol.values" ng-required="{{ctrol.required}}" uib-datepicker-popup="dd/MM/yyyy" is-open="ctrol.opened" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-sm  btn-primary" ng-click="ctrol.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                    @*<p class="input-group">
                                            <input ng-model="ctrol.values" type="date" ng-disabled="ctrol.disable" class="form-control" ng-required="{{ctrol.required}}">
                                        </p>*@
                                </div>
                                <div ng-switch-when="textarea">
                                    <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}} {{ctrol.required?":*": ": &nbsp;" }}</label>
                                    <div class="{{ctrol.width}}">
                                        <textarea ng-model="ctrol.values" ng-disabled="ctrol.disable" ng-required="{{ctrol.required}}" class="resizable_textarea form-control"></textarea>
                                    </div>
                                </div>
                                <div ng-switch-when="autocomplete">
                                    <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                    <div class="{{ctrol.width}}">
                                        <input type="text" ng-model="ctrol.values" ng-disabled="ctrol.disable" ng-required="{{ctrol.required}}" ng-model-options="modelOptions"
                                               uib-typeahead="state.VALUENAME for state in  ctrol.dictionary | filter:{'VALUENAME':$viewValue}| limitTo:8" class="form-control" />
                                    </div>
                                </div>
                                <div ng-switch-when="check">
                                    <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                    <div class="{{ctrol.width}}">
                                        <input type="checkbox" ng-model="ctrol.values" ng-disabled="ctrol.disable" ng-required="{{ctrol.required}}" class="form-control" style="height:20px;" />
                                    </div>
                                </div>
                                <div ng-switch-when="foreign">
                                    <label class="control-label {{ctrol.widthlabel}}">{{ctrol.label}}{{ctrol.required?":*": ": &nbsp;" }}</label>
                                    <div class="{{ctrol.width}}">
                                        <select class="form-control" ng-disabled="ctrol.disable" ng-model="ctrol.values" ng-required="{{ctrol.required}}">
                                            <option ng-repeat="item in ctrol.dictionary" ng-required="{{ctrol.required}}" value="{{item.CODE}}">{{item.VALUENAME}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-xs btn-primary" type="submit" ng-click="$ctrl.ok()"><i class="fa fa-floppy-o" title="Ghi nhận thông tin"></i> Ghi nhận</button>
                <button class="btn btn-xs btn-primary" type="submit" ng-click="$ctrl.ok1()"><i class="fa fa-floppy-o" title="Ghi nhận và thêm mới"></i> Ghi nhận và thêm mới</button>
                <button class="btn btn-xs btn-warning" type="button" ng-click="$ctrl.cancel()"><i class="fa fa-sign-out" title=" Thoát"></i> Thoát</button>
            </div>
        </form>
    </script>

</div>
@Html.IncludeVersionedJs("~/MyScript/common.js")
@Html.IncludeVersionedJs("~/MyScript/bnle/bnlegridCtrl.js")